[2019-11-25 11:40] jackahl commented on #1013
@sneridagh what do you think of this?

[2019-11-25 11:57] sneridagh commented on #1013
@jackahl indeed

[2019-11-28 08:05] bloodbare opened #1019 "ON creation of a page the behavior for volto editor needs to be added"
On guillotina_cms at POST creation the behavior that is used to store the blocks editor information (layout and blocks) was added by default on the page as a default Behavior. We are changing it so there is no default Editor behavior applied to the document. In order to maintain the same behavior you need to send on the creation call:

[code]

[2019-11-28 11:55] tiberiuichim opened #1020 "Querystring widget breaks edit page of Collection if page is refreshed"
How to replicate:

- Go to https://volto.kitconcept.com/add?type=Collection
- Add a new collection, set a simple criteria with Types and Document as values
- Save the collection
- Click Edit on the collection
- Force refresh of page

What happens is: componentDidMount() calls the getQuerystring action in the browser, this populates the this.props.indexes property. But the server doesn't have the `

[2019-11-29 15:00] sneridagh commented on #1019
@robgietema is time for make Volto Guillotina/Plone aware for this kind of things. Let's talk it at the sprint.

[2019-11-29 15:15] steffenri opened #1021 "video block: typing in a "wrong" URL leads to error"
steps to reproduce:
1) go to your local volto build (or https://volto.kitconcept.com/)
2) create a new video block
3) type in an URL which does not lead to a video (can also type in anything you want which is not a correct link)
-> error message:
-> expected: some message that the link you typed in does not refer to a video or does not exist.

Sorry, something went wrong with your request
Cannot r

[2019-12-02 09:40] sneridagh opened #1024 "Default blocks per content type, configurable"
So you can have default blocks per content type configurable via the config object.

[2019-12-02 10:20] sneridagh commented on #1019
@bloodbare fixed in master.

[2019-12-02 15:01] bloodbare commented on #1019
@sneridagh fixed or skiped ?

[2019-12-02 16:00] sneridagh commented on #1019
@bloodbare https://github.com/plone/volto/blob/master/g-api/docker-compose.yml#L10

using the old docker image build for now, waiting for the sprint to know what we do.

[2019-12-02 18:45] bloodbare commented on #1019
Yups I mean the issue is not fixed in master, the solution is skipped until sprint!

[2019-12-02 21:47] sneridagh opened #1027 "Volto alpha 16 is a brownbag release"
Sorry folks, but just released Volto alpha 16, and it turned out it's a brownbag release. Stay in alpha 15 until we could release the fix. Sorry for the inconvenience.

[2019-12-02 22:09] sneridagh commented on #1027
OK, it's not a brown release after all.
For all projects, based on alpha 16 and beyond, you need to remove your yarn.lock, and let yarn redo all the deps again. I will update the volto-starter-kit accordingly.

[2019-12-02 22:43] sneridagh commented on #1027
ESlint refuse to run though... :(

[2019-12-03 10:34] sneridagh commented on #1011
@tisto just released a version of kitconcept.voltodemo without Richtext and toc behaviors. Let's see if that makes the difference. However, that won't fix the issue. Maybe (I hope it will make the heisenbug in the build disappear).

[2019-12-03 11:02] terapyon opened #1029 "Error report on block editing"
I got sometime the error on block editing for upload image (by Image block or Hero block)
I use Volto 4 alpha 14 and 16.

[code]

Is this error related my env?

[2019-12-03 14:48] pnicolli opened #1030 "Saving multiple times creates multiple objects"
Clicking the save button multiple times creates multiple objects.

![multiple-click](https://user-images.githubusercontent.com/14176608/70061272-44d8b100-15e4-11ea-8410-266d7f9de245.gif)

[2019-12-03 16:42] robgietema opened #1032 "React-router returns old location on initial render"
When you switch from one page to another the initial render of the new page returns the old location data like url and query params.

[2019-12-04 08:48] steffenri opened #1033 "Properties of contents get displayed wrong if too many in content menu"
1) go to your local volto build and open the content menu (or volto.kitconcept.com/contents)
2) select more properties that should be shown (like size, id, date, etc.)
-> details of content are not in the container anymore if too many properties are chosen
![displayoptions](https://user-images.githubusercontent.com/54619639/70127356-2c67a580-167b-11ea-9214-c0de947f7b4b.png)

[2019-12-04 08:51] steffenri opened #1034 "column preferences are not saved in content menu"
steps to reproduce
1) go to your local volto build content menu (or volto.kitconcept.com/contents)
2) change the column preferences
-> works fine
3) reload or go to another site and back
-> preferences get lost/are not saved
-> expected: preferences should be saved

[2019-12-04 08:57] steffenri opened #1035 "changing listing preferences has no effect in the content menu"
steps to reproduce
1) go to your local volto build content menu (or volto.kitconcept.com/contents
sort elements by creation date or any other setting
-> has no impact on the listing
-> expected: elements should get reordered depended on your settings
![listingorder](https://user-images.githubusercontent.com/54619639/70127978-638a8680-167c-11ea-8b7f-9dbe8c938fb9.png)

[2019-12-04 13:29] tisto opened #1036 "File content type"
Standard Plone behavior for file types (similar to the Link type functionality, see #877):

1) File opens directly for anonymous users
2) Editors see the file view to being able to edit an existing file

This should also work if a file content object is linked within the body text of an existing Volto page.

[2019-12-04 13:44] tisto opened #1037 "Video Block: Allow to add Vimeo videos"
The video block in Volto only allows YouTube videos so far. It would be nice to allow Vimeo (and in the future others as well).

[2019-12-04 13:47] cekk commented on #877
Yep, i could work on it during the sprint (if we discuss before on how to implement my doubts on #976).

Actually i have also an another important (for us) task where i'd like to work on (see volto channel on slack), so we need to decide the priority

[2019-12-04 15:11] tisto commented on #907
@sneridagh this is done, right? Or is there anything left to do?

[2019-12-04 15:26] tisto commented on #758
@sneridagh I am wondering if it would make sense to move the link functionality to the sidebar as well. This would allow us to implement the "content browser" functionality as well as "open in new window" or a fancy image preview search that clients asked us to do. What do you think?

[2019-12-04 17:52] sneridagh commented on #907
It's completely done.

[2019-12-04 17:52] #907 closed

[2019-12-04 19:07] tisto commented on #1029
@terapyon I saw those kind of errors myself. I don't think it is related to your environment. Usually, this happens when something is wrong on the backend. I often see a 500 error. Though, those errors are hard to reproduce. This also might be related to https://github.com/plone/volto/issues/1011.

[2019-12-05 10:57] sneridagh opened #1038 "Group of blocks container element in Pastanaga Editor"
There is a use case where we might need to style a set of blocks (text, images, cards) in an specific way, so we want them be grouped somehow.

This might sound like the "meta-block" but I think that's more simple than that. I see it like a block that behave as a wrapper of blocks, then you can drag and drop blocks into and out from that container to the "normal" flow.

[2019-12-05 16:22] pnicolli commented on #989
I can confirm this is no longer the case in the current master and latest alpha releases, I think it can be closed @tisto

[2019-12-06 12:00] tisto opened #1039 "Image Gallery"
Volto should have a basic image gallery view like Plone has.

[2019-12-08 06:49] tiberiuichim opened #1041 "Volto's Toolbar should be better integrated with Plone"
Volto has a neat wrapper for the Plone control panel configlets. I think something similar should be done also for Plone's content toolbar actions (although it may be harder, at least there should be an extensible way that integrators can define new components that can match these actions).

My personal feeling is that it would also be better if Volto's toolbar would match Plone's toolbar, in havi

[2019-12-08 06:53] tiberiuichim opened #1042 "Volto toolbar's More popup window can only be scrolled using the mouse scroll"
There's a bug in the More popup window, makes it unable to use the scrollbar's position indicator to scroll. How to replicate:

- In volto, open the More menu (three dots icon in the left toolbar)
- Open the ViewMode dropdown. This makes a scrollbar appear at the right of the popup
- Try to click on anywhere this scrollbar. The More popup disappears.

[2019-12-09 15:33] tisto opened #1043 "Composite page caching in Volto"
Problem: Composite page with "Teaser" Blocks that reference other objects. A page like that can easily trigger 30 or more subrequests.

[2019-12-09 15:38] #989 closed

[2019-12-10 15:37] wkbkhard commented on #1039
WIP Till & Alex

[2019-12-10 15:52] jackahl commented on #874
@tisto setting fields are pulled from the rest API here. So the translations need to come from there maybe you can have a look.

[2019-12-10 16:03] jackahl commented on #305
I did something similar already for another project. I will take a look

[2019-12-10 16:07] jackahl commented on #305
@tisto I cannot reproduce this issue anymore... already fixed?

[2019-12-10 17:06] wkbkhard commented on #1021
WIP while working on #1037

[2019-12-10 18:11] #857 closed

[2019-12-10 22:50] robdayz commented on #982
I was checking this error. And it appears to me too, I have a related problem because the split function inside react-dom is splitting more than needed, and I can't read the error log :(  Seems that the history view from Plone takes the Text field  (https://github.com/plone/plone.app.contenttypes/blob/127b18e5ee8685f421f3adb3c5657ac2b65a1585/plone/app/contenttypes/browser/templates/document.pt#L14

[2019-12-12 08:24] #1021 closed

[2019-12-13 08:46] giuliaghisini opened #1059 "Listing Tile - relative path"
if i set a 'Location' criteria as 'relative path' in listing block, nothing changes in results, and the cypress test fails

[2019-12-13 10:51] giuliaghisini opened #1060 "Listing blocks - sorting"
if no filters are set is not possibile to set an order of default displayed objects.

[2019-12-13 14:06] giuliaghisini opened #1061 "ToHTML: unstyled error in view for multiline-filed"
There's a 'unique key' error in view when  rendering multiline textfield.
The correct code for return of unstyled blocks in TOHTML.jsx is:

 return processedChildren.map(
      (chunk, index) => chunk && <p key={keys[index]}>{chunk}</p>,
    );

[2019-12-13 14:29] giuliaghisini opened #1062 "TextEditBlock error: blockNode is note defined"
in handleClickOutside, the prop this.props.blockNode is not defined and the error is fired each time you click outside the block.

[2019-12-13 16:22] tisto commented on #1061
@giuliaghisini thanks! Could you imagine to write a pull request with a fix for this?

[2019-12-13 16:50] steffenri commented on #1059
the results dont change in 'absolute path' and 'navigation path' either. the whole path criteria is not working properly.

[2019-12-15 16:08] mayursamnani36 commented on #1062
I am new to this project, can you tell me in which file is this error is located.

[2019-12-16 07:59] giuliaghisini commented on #1062
in TextEdit block. When you click outside the block a console error is fired with the description "prop this.props.blockNode is not defined". This is because the component not have the blockNode property and no other component pass this prop to it..

[2019-12-16 09:46] tiberiuichim opened #1067 "Drag&drop of fields in composite page edit is not intuitive"
The problem is that the drop destination doesn't have the area around the handler, so if I just drag a handle over another handle, up or down, it won't "catch", it's only possible if I drag the handle over the content of another block. I've created a video here: https://www.youtube.com/watch?v=AZQkuoVkHIY to show what I mean

[2019-12-17 19:11] tiberiuichim opened #1068 "Volto repeats backend fetches on route change"
How to duplicate:

- open https://volto.kitconcept.com/
- open developer tools, switch to network tab
- click on the News tab, the network calls are repeated.

Only the ``@workflow`` endpoint is not fetched twice, might be relevant.

Maybe it's related to #1032

[2019-12-18 05:31] tiberiuichim opened #1070 "Synchronized updates between UI components are needed"
Breadcrumbs, navigation, types and workflow should be automatically expanded by the content action and distributed to the global store.

The problem is that, in case of slow backends, the whole UX is bad: clicking on a router link causes the whole interface to progressively update, with some of the UI components displaying wrong information for the main content.

From my perspective the above ment

[2019-12-19 03:34] rodfersou commented on #305
@jackahl did you kit the save button?

[2019-12-20 11:49] tiberiuichim commented on #1042
The issue appears to be fixed in master, now.

[2019-12-20 11:55] macagua opened #1073 "Add i18n improvements"
- Many elements for UI don't have support for translation.
- No exits a clear documentation for add more language to Volto.

[2019-12-20 12:02] macagua commented on #1073
For this moments these changes are committed at "[i18n-improvements](https://github.com/plone/volto/tree/i18n-improvements)" branch.

[2019-12-21 09:23] #1042 closed

[2019-12-21 10:25] tiberiuichim commented on #1070
Having implemented the above proposal in the PR, I now realize that there may be another simpler way, using shouldComponentUpdate. For example Breadcrumb shouldComponentUpdate would look look for ``!(state.content.loading || state.navigation.loading || state.actions.loading ))``, etc.

Much simpler. I'll try to implement this second proposal, let's see which makes the cut. Although I think the ``e

[2019-12-21 14:40] tiberiuichim commented on #1068
The issue has been fixed by https://github.com/plone/volto/commit/8d75c283b031871869be7080e70898da45309149

[2019-12-21 14:40] #1068 closed

[2019-12-22 07:36] tiberiuichim opened #1076 "Export unconnected classes"
To be able to extend component classes (for example widgets) they have to be also exported as individual classes, in addition to the already default export as redux connected classes.

[2019-12-22 13:57] tiberiuichim commented on #1076
An example of how this can be useful: I want to reuse the QuerystringWidget, to filter the indexes it receives. I can't do that now because the only export of that module is already connected, but if the class was individually exported, I could write:
[code]
Also, the QuerystringWidget needs to be exported by ``@plone/volto/components``.

[2019-12-22 19:24] tiberiuichim opened #1079 "Unable to use querystring widget in Pastanaga editor sidebar"
See screenshot. This is from volto demo, I've enabled Blocks behavior on Collections. It shows the sidebar Document tab.

![querystring-widget](https://user-images.githubusercontent.com/141568/71326272-43bee380-2501-11ea-9551-4209e245c18f.PNG)

[2019-12-22 19:29] tiberiuichim commented on #1079
I think it would be better if the sidebar was reorganized. IMHO the blocks editor should be tab-based switchable to the form based "Plone" editor and this allows the Sidebar to be focused purely on blocks.

We've had some feedback in our beta sites: for metadata-heavy content the fields in the sidebar are confusing. With the default Volto color scheme, on some monitors with low contrast or high br

[2019-12-23 08:57] sneridagh commented on #1030
Fixed in #1074

[2019-12-23 08:57] #1030 closed

[2019-12-23 09:07] tisto opened #1080 "Module not found: Can’t resolve es.json/pt_BR.json"
After upgrading our "create-volto-app" project to latest a19, we got an error:

[code]

We had to copy over those translation files from volto core to make it work. I guess @robgietema or @sneridagh can come up with a better solution. :)

[2019-12-23 09:35] sneridagh commented on #1080
@tisto @robgietema yeah, I know. In fact, those files should be empty like in: https://github.com/plone/volto-starter-kit/tree/master/locales

We should amend the i18n script to create them if missing.

[2019-12-24 17:42] tiberiuichim opened #1081 "Inconsistent naming in helper functions"
We have getBaseUrl, flattenToAppURL, addAppURL, isInternalURL. Based on this, it looks like getBaseUrl should be renamed to getBaseURL, or the other way, with all the others.

[2019-12-26 05:56] tiberiuichim commented on #871
We've taken this approach with out addons (visible in this file: https://github.com/eea/forests-frontend/blob/master/src/config.js ):

- in the config.js file, we import configuration methods from other addon packages
- we import all exports of Volto's config as: `` import * as voltoConfig from '@plone/volto/config';``
- we call these configuration methods, passing the config object and allowing p

[2019-12-26 06:08] tiberiuichim commented on #871
One thing that was tricky and required some tooling work was allowing addon packages to have their own requirements, which meant we needed to ``npm install`` the addon, which then copies the addon to node_modules and needs to be that location. This could also be achieved, probably, with ``npm link``.

[2019-12-29 06:59] tiberiuichim opened #1084 "Rendering richtext draft-js atomic block loses children"
[code]

Rendering the children here is important, when redraft attempts to group the atomic group with the next group, the children are lost. I don't know enough of draft-js, but for my case it worked something like this:

[code]

As far as I understand, atomic blocks are meant to signal, in draft-js, that some content "belongs together", so that it would be deleted completely on backspace key. So

[2020-01-03 22:04] tisto opened #1087 "[React Intl] Missing locale data for locale: "de". Using default locale: "en" as fallback."
0) Set language of your browser to "DE" (German)
1) Checkout Volto master branch
2) Start Volto and Backend
3) Go to localhost:3000
-> Check console: [React Intl] Missing locale data for locale: "de". Using default locale: "en" as fallback.

[2020-01-05 00:00] pnicolli commented on #1059
This is still valid for relative path search with latest commit in #747 ('listing-tile' branch). Absolute path works now.

[2020-01-05 22:50] pnicolli commented on #1059
Fixed in branch 'listing-tile' (see #747 )

[2020-01-05 23:05] pnicolli opened #1091 "Duplicate keys in listing block items"
While using the listing block that is being developed in #747 we have a react error about duplicate keys in the querystring results that the block shows. I looked into it for a while and I found out that plone.restapi returns the querystring-search endpoint as the `@id` of collection items. So, if you have more than one collection in your results, you will end up with duplicated keys because the `

[2020-01-05 23:10] pnicolli commented on #972
cypress-testing-library has been removed for incompatibilities. The react part is there for now. It's probably worth mentioning that it's now featured by default inside the new CRA templates, which is probably a good sign.

[2020-01-06 06:07] tiberiuichim commented on #1091
I think it's related to this issue: https://github.com/plone/plone.restapi/issues/837

[2020-01-07 06:26] nileshgulia1 commented on #1087
@tisto I cannot able to reproduce the issue. The console shows empty when opening homepage.

[2020-01-07 09:28] tiberiuichim opened #1092 "Empty file Select.jsx"
This component seems to be empty, probably a left over: https://github.com/plone/volto/blob/master/src/components/manage/Select/Select.jsx

[2020-01-07 14:53] giuliaghisini opened #1094 "add customStyleMap for DraftJs Editor"
in order to add new styles in draft js, the property customStyleMap is missing when including <Editor/> element in Edit component.
This will be usefull to add new inline styles that are not yet implemented.
For Example, I wold like to add a style to center text of an h2 block type..

[2020-01-07 18:04] tiberiuichim commented on #1094
As a fallback, there's also the option of registering a new drafts-plugin-editor plugin that has the styles. See https://github.com/draft-js-plugins/draft-js-plugins/blob/master/HOW_TO_CREATE_A_PLUGIN.md#basics

[code]

[2020-01-08 05:31] tisto commented on #1094
@giuliaghisini this sounds like a useful addition. Would you feel comfortable looking into this or do you need help/pointers?

[2020-01-08 05:33] tisto commented on #1091
@pnicolli can you paste an example of the plone.restapi response with the duplicate key here? This sounds like a plone.restapi issue.

[2020-01-08 05:34] tisto commented on #1087
@nileshgulia1 you don't see this message when you are using the English language. I forgot to add that to the ticket. :)

[2020-01-08 05:35] tisto commented on #1084
I guess that's something that @robgietema or @sneridagh need to look into.

[2020-01-08 05:41] tisto commented on #1079
@tiberiuichim we had tabs before we actually moved to the sidebar approach. The UX idea of the sidebar is that the user does not have to leave the "context" when editing a block. Though, I agree that the listing block is an edge case where the sidebar does not work particularly well. One of the possible solutions that we discussed was to allow the user to extend the size of the sidbar (either move

[2020-01-08 05:44] tisto commented on #1067
@tiberiuichim I fully agree with you. This also annoys me a lot as a user. We need somebody to look into this and making a proposal and a possible implementation how to fix this. :)

[2020-01-08 05:45] tisto commented on #1062
@giuliaghisini would you mind creating some "steps to reproduce" to make it easier for other devs to reproduce the problem?

[2020-01-08 09:13] pnicolli commented on #1091
@tiberiuichim it looks exactly like it's the same problem, or at least that my problem here is generated by the same behavior you're talking about in that restapi issue.
@tisto will post the example asap

[2020-01-08 09:18] tisto opened #1095 "plone.app.redirector support for Volto"
It would be nice to have plone.app.redirector support for Volto.

plone.restapi currently returns the content object itself on a redirect path.

Say you have a page "my-page" and you rename it to "my-new-page", then plone.restapi will return the same content object for:

/my-page -> 200 OK

and

/my-new-page -> 200 OK

Volto currently has no way to detect that "/my-new-page" is a redirect.

plone.

[2020-01-08 14:32] giuliaghisini commented on #1062
@tisto i verified this problem in the latest volto version, and i didn't find this error anymore. Maybe some fix have resolved this problem. If you agree i would like to close this bug

[2020-01-08 14:37] giuliaghisini commented on #1094
@tisto sure! in next days i will try to this. ill'create a branch named "custom-style-map"

[2020-01-08 15:56] giuliaghisini opened #1097 "Draftjs: blockquote style render error: unique key"
- create a new page
- add new text block
- write some text
- select all text
- apply the style 'blockquote'
- save

in view mode there's an error in console:
"Each child in a list should have a unique "key" prop"

[2020-01-08 20:18] tiberiuichim commented on #1079
If a page is required to have several metadata fields filled in, delegating those to the sidebar section is clunky and doesn't express the importance of those fields in relation to the content.

It's probably just a edge case specific to our website. We've created https://github.com/eea/volto-sidebar to deal with these issues, hopefully we won't have too much trouble keeping it up with Volto. I'll

[2020-01-08 21:44] frapell opened #1098 "Use the ObjectBrowser for creating links in text editor"
I think the text editor needs a better UI for creating links, and I think re-using the ObjectBrowser for navigating/searching items in the site for this, could be a good idea, however I am having the hardest time in trying to make it happen.

If you think this is not a good idea, please let me know... If you think it is a good idea, I need help :)

I have added the `openObjectBrowser` prop to the

[2020-01-08 22:02] #1037 closed

[2020-01-08 22:03] #1027 closed

[2020-01-08 22:06] tisto commented on #1098
@frapell thank you for looking into this! We discussed this in the past and we think it is a good idea.

My only UX concern is that the user always has to reach for the sidebar to accomplish a rather simple task (adding a link). The good thing is that lots of user interaction already happens on the sidebar. If we want an object browser there is no way around re-using the sidebar object browser any

[2020-01-08 22:48] #1062 closed

[2020-01-08 23:19] tisto commented on #1079
@tiberiuichim could you share a few screenshots of the add-on in action? This would help us to understand what you are after.

[2020-01-09 01:29] frapell commented on #1098
@tisto I am no UX expert, but I like the workflow when working with blocks, using the right sidebar, so I believe it would be expected for a user to not only use the sidebar for navigating/searching for an object when adding a link, I also think this is where the different settings for the link should live... I'm thinking for instance when clicking an already created link, a sidebar should show up

[2020-01-09 06:56] tiberiuichim commented on #1098
@frapell: I've been working a similar topic last days, editing draftjs entities with the sidebar. We took a different approach, wrapping our custom sidebar edit component in withObjectBrowser, instead of relying on the one offered by the block. You can see the "sidebar edit component" here: https://github.com/eea/volto-datablocks/blob/master/src/dataentity/components/EditForm.jsx and the way it's

[2020-01-09 15:23] frapell commented on #1098
@tiberiuichim Thank you for that, however it is not giving me much help, but mainly because of me not fully grasping the big picture here...

If you see in my branch, for the file https://github.com/plone/volto/blob/d00c8adf0d65f34400b3295d632758ce236f4f83/src/components/manage/AnchorPlugin/components/LinkButton/index.jsx I am wrapping the `LinkButton` component with the `withObjectBrowser` HOC. T

[2020-01-09 16:22] tisto commented on #1098
@frapell @tiberiuichim I highly appreciate you folks working on this and exploring the different options. My experience when it comes to UX discussion is always that you need to try out things before you can judge them (I hated the save icon in Pastanaga on the top at first and now I love it ;)).

So please go ahead. Hack, implement, propose solutions. Once we have something presentable we will gi

[2020-01-09 16:49] frapell commented on #1098
@tisto For sure! Do you have some hint on how to move forward with the issue I'm having? I'm kind of stuck

[2020-01-09 20:29] tiberiuichim commented on #1098
@frapell this should be:

[code]

[2020-01-09 21:21] frapell commented on #1098
@tiberiuichim Yeah, that's happening in https://github.com/plone/volto/blob/d00c8adf0d65f34400b3295d632758ce236f4f83/src/components/manage/AnchorPlugin/components/LinkButton/index.jsx#L40 but the problem was that `ObjectBrowserBody` expects some props that I wasn't sure how to pass...

@tisto I have made another commit where I think I found a way to pass the props that `ObjectBrowserBody` is expec

[2020-01-10 09:53] aryamanpuri commented on #1092
Hi, I am looking to contribute to this project.
As I am new here can you help me where to start from?
@tiberiuichim Yup It should be deleted.

[2020-01-10 10:58] tisto opened #1101 "Video Block: Allow to embed mp4 videos"
Enhance the existing Video Block to allow to add a URL that points to an mp4 file (which can be embedded with an HTML 5 <video> block).

No support for internal links necessary as a first step.

[2020-01-10 11:57] pnicolli commented on #1091
@tisto Ok here is the api query i tried. I sent a POST to http://localhost:8080/Plone2/@querystring-search with the following body:

[code]

And this is the response I got:

[code]

Both results have the same `@id`.

This is running on the latest Plone 5.2.1-pending with plone.restapi 6.1.0.

[2020-01-10 13:24] tisto commented on #1091
@pnicolli ok, this is a plone.restapi bug then. Would you mind creating an issue on plone.restapi and paste the code example there?

[2020-01-10 13:40] pnicolli commented on #1091
@tisto Done: https://github.com/plone/plone.restapi/issues/853

[2020-01-11 20:27] tiberiuichim commented on #1098
Can you test if the entity is preserved if you change anything else in the block (like add a space)? I've noticed this behavior when mutating entities with draft, for the stuff I've linked before

[2020-01-12 13:08] tisto opened #1104 "Table of Contents"
Plone has a "table of contents" feature that extracts the H1-H3 headlines from the body text and creates a "table of contents" with links to the headlines used in the body text.
![demo kitconcept com](https://user-images.githubusercontent.com/632105/72219302-f30d3a00-3544-11ea-8011-fbb35926a3c2.png)
![Page — demo kitconcept com](https://user-images.githubusercontent.com/632105/72219306-f4d6fd80-35

[2020-01-12 13:09] aryamanpuri commented on #1104
@tisto Can I work on this ?

[2020-01-12 13:20] aryamanpuri commented on #1104
Actually I am willing to contribute to this project, but didn't get any replied message, to where and how to start from. Is there any channel where I can communicate with others.

[2020-01-12 13:23] tisto commented on #1104
@aryamanpuri we have a Slack channel. Join:

http://plone.slack.com/

Channel: "#volto"

[2020-01-12 13:25] tisto commented on #1104
@aryamanpuri the best way to start contributing to Volto is to start using it, report bugs, and start to fix smaller issues.

We have a label to mark easier and newbie-friendly tasks:

https://github.com/plone/volto/issues?q=is%3Aissue+is%3Aopen+label%3A%2241+lvl%3A+easy%22

[2020-01-12 13:27] aryamanpuri commented on #1104
@tisto okay, I will start from there.

I don't have any  credentials

[2020-01-12 13:31] tisto commented on #1104
@aryamanpuri I sent you an invitation.

[2020-01-12 13:31] aryamanpuri commented on #1104
Got it

[2020-01-13 07:45] tiberiuichim commented on #1104
@tiso: can I also get an invite? Thanks!

[2020-01-13 08:48] #959 closed

[2020-01-13 09:17] aryamanpuri opened #1105 "Search Bar in Contents menu get on size change and excedes the table on Resizing the Page"
**Describe the bug**
The Search Bar in the Content Menu is exceeding the table menu on resizing the page.

**Expected behavior**
The Search Bar shouldn't exceed in size when the window width changes, whereas it should adjust.

![Screenshot from 2020-01-13 14-33-01](https://user-images.githubusercontent.com/43513114/72243451-04704800-3612-11ea-9409-0c9bb2b84d26.png)

**Additional Context**
I am wor

[2020-01-14 10:33] tisto opened #1106 "DraftJS Footnotes"
DraftJS in Volto should support footnotes. I guess this is a non-trivial task since we need to allow editors to set the name of a footnote and create an anchor link to that footnote. Maybe there is a DraftJS plugin we can build upon.

[2020-01-14 11:18] aryamanpuri opened #1107 "There is two columns of Title in the content Menu"
**Describe the Bug**
Selecting the `Title` from all the options in the dropdown menu.
There are two Title columns in the content Menu.

**Expected Behaviour**
There should be one Title column in the Content menu.

![Screenshot from 2020-01-14 16-39-04](https://user-images.githubusercontent.com/43513114/72339667-b7ad6f80-36ec-11ea-91dc-42ac259ee0cc.png)

@tisto
@sneridagh

[2020-01-14 12:17] jackahl commented on #1107
@aryamanpuri with dropdown you mean the one for sorting the contents, right?

[2020-01-14 12:18] aryamanpuri commented on #1107
The option above the Actions in the menu

[2020-01-14 12:21] jackahl commented on #1107
Ah ok. Didn't even know that existed :D

[2020-01-14 13:41] jackahl commented on #1107
@aryamanpuri I looked a bit into it. The best solution IMO would be to remove the title option from the dropdown because the first title column is hardcoded. I already wrote a try here: https://github.com/plone/volto/pull/1108
Maybe you can also take a look at it. Maybe you find a more elegant solution. Lodash might offer something for that https://lodash.com/docs/4.17.15#map, but I don't have the

[2020-01-14 16:03] tisto commented on #1101
Fixed and released with #1103 .

[2020-01-14 16:03] #1101 closed

[2020-01-14 18:10] aryamanpuri commented on #1105
@tisto Should I add custom CSS?

[2020-01-14 20:38] tisto commented on #1105
@aryamanpuri yes. please.

[2020-01-15 10:54] tiberiuichim commented on #1106
idea: have the footnotes automatically generated by scanning all draftjs text blocks, either in a separate "footnotes" block, or automatically inserted in DefaultView.jsx.

For the footnote entities themselves, the LinkPlugin can serve as rough example. Footnote name can be saved in the entity data, just like the link target.

[2020-01-15 14:30] giuliaghisini opened #1113 "field subjects: not able to remove all subjects"
Steps to reproduce:
- add a new page
- type a title
- save
- edit the page
- add 2 or more subjectes to the page
- save
- edit page again
- remove subjects
- when you remove the last subject an error fires in console:
[code]
- if you save the page and you enter on edit again, the last subject was not removed because of the problem above.

[2020-01-15 14:37] giuliaghisini commented on #1113
i created this branch 'fix-remove-all-subjects' to fix this

[2020-01-16 22:02] aryamanpuri commented on #1105
@tisto Since we are using Semantic-UI, so changing in the props would be better, as it would be similar to the codebase.

[2020-01-17 06:16] aryamanpuri commented on #1105
I tried with different props to add up in both menu.menu and input with it does not give the required result .

[2020-01-17 11:58] tiberiuichim opened #1115 "Race conditions in view component load"
There is the following race condition in the way Volto treats router links:

- Suppose I have two distinct view page implementations, for example a HomepageView component and the DefaultView. They have completely different look and they are immediately distinguishable.
- From page X on the website, click on the Home link. The router immediately loads the HomepageView component, but the getContent

[2020-01-17 12:01] tiberiuichim commented on #1070
![race-1](https://user-images.githubusercontent.com/141568/72610135-4c071480-392f-11ea-9d69-71469e33ff6e.png)

![race-2](https://user-images.githubusercontent.com/141568/72610127-44e00680-392f-11ea-8703-6224d2e9ed8f.png)

You can see the disconnect between the navigation, the breadcrumb and the content

[2020-01-20 15:37] sneridagh commented on #1020
I can reproduce it here too. Needs to be fixed.

[2020-01-21 08:45] giuliaghisini opened #1120 "cypress test failed because of cypress/videos/blocks.js"
### These pull-requests fails because videos/block-text.js test fails.
Please fix that test.
**Pull requests:**

- Fix remove all subjects **#1114** (fix-remove-all-subjects)
- build(add commitzen): add commitzen for consistent git commit messages **#1112** (commitizen)
- remove title option from shown columns dropdown in contents view **#1108** (contents-table-columns)

The test in cypress/videos

[2020-01-21 11:10] #1113 closed

[2020-01-21 12:54] tisto commented on #1120
@giuliaghisini we are constantly working on improving our Cypress tests and making them more resilient. Please add links to failing Travis jobs and I will have a look. Fixes to make our Cypress tests more stable are always welcome as well! :)

[2020-01-21 13:01] tisto opened #1121 "Show message on outdated browsers"
Volto supports all modern browsers in its recent versions. It does not support IE 11 and older. It would be good if Volto would show an error message that the browser is outdated and should be updated on those browser.

[2020-01-21 13:37] pnicolli commented on #1120
Example: https://travis-ci.org/plone/volto/jobs/636896878
It actually looks like it's tied to random Bad Request responses received from Plone.

[2020-01-21 19:01] tisto commented on #1120
Yeah. I saw those bad request quite frequently. Those are related to test setup/teardown problems I guess. The problem is that I am not too familiar with the robot server backend. Maybe @datakurre can give us some pointers...

[2020-01-22 09:35] sneridagh commented on #1020
Fixed by #1123

[2020-01-22 09:42] sneridagh commented on #1020
@tiberiuichim I finally decided to fix it like we did in the listing block querystringwidget:
https://github.com/plone/volto/pull/1123/files#diff-a9fdf615b4534af393a47b37786f12f9R345

It wasn't only broken on SSR, but also in normal operation.

[2020-01-22 09:42] #1020 closed

[2020-01-22 16:33] aryamanpuri commented on #1105
Hi @tisto , I found out there is problem due to Mozilla Browser and as such there is no bug in code .
There is some bug in the semantic-UI for mozilla Browser .

[2020-01-22 18:55] tisto opened #1125 "DraftJS: clear formatting"
It would be nice if DraftJS would have a "clear formatting" button to remove all formatting from a part of the content.

[2020-01-23 11:12] #1105 closed

[2020-01-24 14:20] LeuAlmeida opened #1126 "Error after create-volto-app"
I runned **create-volto-app myapp** and bootstraped the backend runnning `$ docker run -it --rm --name=plone -p 8080:8080 -e SITE=Plone -e ADDONS="kitconcept.voltodemo" -e ZCML="kitconcept.voltodemo.cors" plone`.

My output on `$ yarn start` is:
[code]

On **localhost:3001** i got `Cannot GET /`, but at localhost:3000 is all ok. But when i try to register an user, the right arrow try to load but n

[2020-01-24 16:05] giuliaghisini opened #1128 "Add new translations for Italian"
add new blocks, control panel and other translations for Italian.

[2020-01-24 16:06] giuliaghisini commented on #1128
created the branch #new_italian_translations with new italian translations

[2020-01-24 16:07] #1128 closed

[2020-01-24 16:07] giuliaghisini commented on #1128
opened an issue on #new_italian_translations branch

[2020-01-24 19:04] pnicolli opened #1132 "Should we go for postcss-preset-env?"
I have recently worked with postcss-preset-env and it works great. Should we give it a go here?
https://preset-env.cssdb.org/

In order to try it you can use create-react-app, it's included in there by default, but to configure it you have to eject unfortunately.

[2020-01-24 19:54] sneridagh commented on #1132
@pnicolli Nice! Yeah, why not, let's give it a try. I understand that superseeds any of the current postcss and autoprefixer presets then. Can you make a PR with the proposal?

[2020-01-24 21:00] sneridagh commented on #1126
Hi @LeuAlmeida
Have you take a look at: https://docs.voltocms.com/ ?
The documentation is still incomplete, but will give you an insight of how Volto works. As it works with Plone, the default is not to allow register users, try to do so from the control panel. Also, registering a user works the same way that in Plone, so a mail goes out with a confirmation URL. Probably as the mail serveer wasn't

[2020-01-24 21:02] sneridagh commented on #1126
Also `create-volto-app` is using the 3.x.x version, you can try the last alpha using `npx @plone/create-volto-app@alpha my-volto-app.

[2020-01-24 21:04] sneridagh commented on #1120
Tried to fix it by:
https://github.com/plone/volto/pull/1134
Since it seems that the next beforeEach enters before the previous teardown has happened.

Let's see how it goes.

[2020-01-24 21:10] sneridagh commented on #1094
Addressed in https://github.com/plone/volto/pull/1096

[2020-01-24 21:10] #1094 closed

[2020-01-24 21:13] sneridagh commented on #1087
That's annoying, but if there's any translation on the current used components on screen and the translation is missing (=empty) then it shows the message :(

[2020-01-24 21:15] sneridagh commented on #1076
@robgietema I need your feedback here and in #1078

[2020-01-24 21:20] sneridagh commented on #1067
@tiberiuichim @tisto yeah, for that we need to refactor a bit the UI, making the block wrapper in the edit UI a bit wider, so the handler can be inside that area, then the drop will be done as expected. As a workaround you should go inner when you drop.

Highlight the area as you drag would be great. I would migrate to use `react-beautiful-dnd` there.

[2020-01-24 21:21] #1059 closed

[2020-01-24 21:23] sneridagh commented on #990
I fixed that some weeks ago.

[2020-01-24 21:23] #990 closed

[2020-01-24 22:33] pnicolli commented on #1132
@sneridagh Yes, sure, I will :)

[2020-01-25 16:46] sneridagh commented on #875
Done.

[2020-01-25 16:46] #875 closed

[2020-01-25 16:51] sneridagh commented on #1073
Closing this, since it was merged weeks ago!
@macagua reopen if you want to maintain it open for some reason.

[2020-01-25 16:51] #1073 closed

[2020-01-25 16:56] sneridagh commented on #741
Done.

[2020-01-25 16:56] #741 closed

[2020-01-25 16:56] sneridagh commented on #833
Done.

[2020-01-25 16:56] #833 closed

[2020-01-25 17:02] sneridagh commented on #988
@mck9 I can see it working in a31. Take into account that the value is overriden by the global Plone site setting. This is done by p.restapi, so if you set it to "yes", and the global is "no", then it will be reset to "no".

[2020-01-25 17:02] #988 closed

[2020-01-25 17:02] sneridagh commented on #988
<img width="466" alt="image" src="https://user-images.githubusercontent.com/486927/73124531-d3dac780-3f9c-11ea-819d-9f6dba7b6a9a.png">

[2020-01-25 17:04] sneridagh commented on #674
Fixed in: https://github.com/plone/volto/pull/1109

We need to test it, I'm hesitating if include it already in an alpha release.

[2020-01-25 17:31] #737 closed

[2020-01-26 10:15] tisto commented on #988
"No value" should actually be called "inherit" (from the global discussion setting). Though, we never really fixed that in standard Plone.

[2020-01-26 13:43] tiberiuichim opened #1140 "Cypress should be a dev dependency"
While trying to optimize our Dockerfile-based builds as a multistage build, I've noticed that Cypress is installed even when doing ``npm install --production``. There are probably more packages like these, probably an audit for them is needed.

I think it would be great to have a definitive list of dependencies needed to allow ``node build/server.js`` to work without having access to the node_modu

[2020-01-26 13:57] #1140 closed

[2020-01-26 21:33] LeuAlmeida commented on #1126
Thanks for your help @sneridagh . Tomorrow i will try again using npx

[2020-01-26 21:33] #1126 closed

[2020-01-26 22:25] #674 closed

[2020-01-28 21:19] tiberiuichim opened #1147 "Unable to login from /logout page"
There's an error in the Javascript error console when trying to login from the /logout page

This happens with Volto 4.0.0-alpha.34 on https://volto.kitconcept.com/

[2020-01-28 21:32] tiberiuichim commented on #1147
I think this happens because ``unsafe_componentWillReceiveProps`` in Login.jsx only handles the case where the auth token exists, there seems to be no code handling what happens further with the logout page if I try to login.

[2020-01-28 21:50] tiberiuichim opened #1148 "Unable to login if /acl_users/jwt_auth/manage_config Token Validity Timeout is 0"
Trying to login with a Token Validity Timeout value set to 0 (configured inside Plone) immediately redirects to the logout page.

I think it has to do with this code in ``AuthToken.jsx``:

[code]

In case the Token Validity Timeout is 0, the ``jwtDecode(store.getState().userSession.token).exp`` is undefined and the result of the expression is nan, which immediately triggers the setTimeout callback

[2020-01-29 07:58] tiberiuichim opened #1149 "Optimize produced bundles for Anonymous users"
There are some opportunities to further shrink the generated bundle with the techniques described here: https://webpack.js.org/guides/lazy-loading/

We've been using this technique for a custom implementation that uses ckeditor:
[code]

And then in component rendering we use ``this.state.ClassicEditor`` and such to render the CKEditor component. This causes Webpack to split those resources in a se

[2020-01-29 10:33] pnicolli commented on #1149
See also #967. In that PR we integrated ``loadable-components`` and most of the work is done. I am working on the tests of that PR in these days. For sure separating editor and dnd makes sense.

[2020-01-29 13:33] tiberiuichim commented on #1149
@pnicolli Does this make the chunk load on demand or is every chunk loaded from the generated HTML?

[2020-01-29 14:34] pnicolli commented on #1149
@tiberiuichim the chunks are loaded on-demand with ``loadable-components``. It is based on the same dynamic imports you suggested above.

[2020-01-29 15:38] sumukhah commented on #1005
Hello <b>@ksuess</b>
I am not able to reproduce the error,
Can you give me some brief information regarding the error?
thank you :smiley:

[2020-01-29 17:27] sumukhah commented on #1033
Hello @steffenri @tisto
I would like to work on this issue,
But I am curious why there are very few(only 2) CSS files in the entire code base?
Should we avoid using CSS styling in our codes?

[2020-01-29 19:07] tiberiuichim opened #1150 "sitemap.xml.gz generates listing of a batch of results, not the whole website"
The ``@search`` endpoint uses batching by default, so the resulting sitemap.xml.gz file is not accurate to the actual website content.

So the solution seems to be either to hardcode a certain b_size parameter in the API call (maybe expose this as a setting?), or extend the restapi search service to allow disabling the batching process.

[2020-01-30 09:29] jackahl commented on #1033
@sumukhah we you use the less css-precompiler in Volto (http://lesscss.org/) Those files are named .less, .overrides and .variables v(https://github.com/plone/volto/tree/master/theme/themes/pastanaga).  Just add your fix to one of these files where it seems fitting.

[2020-01-30 10:38] tiberiuichim opened #1151 "Provide minimal set of dependencies that allows running generated bundles separate"
It would be nice to have a minimal set of dependencies that are needed to be able to run the server and the generated bundles separately from the whole node_modules, which can get pretty huge. This would make the generated Docker images slimmer.

[2020-01-30 10:49] #1151 closed

[2020-01-31 16:39] sneridagh commented on #1150
@tiberiuichim probably the first option.

[2020-01-31 16:43] sneridagh commented on #1120
Didn’t see the error in latest builds, will keep it open some days more

[2020-01-31 16:45] sneridagh commented on #1115
Do not know if this can be accomplished with the current stack. Maybe when suspense is released, any thoughts @robgietema ?

[2020-01-31 16:46] sneridagh commented on #1104
Implemented already.

[2020-01-31 16:46] #1104 closed

[2020-01-31 16:51] #983 closed

[2020-01-31 16:54] sneridagh commented on #952
@vincero should work in latest alpha.

[2020-01-31 16:56] sneridagh commented on #930
Latest alpha does not show the extra messages since we pin some deps.

[2020-01-31 16:56] #930 closed

[2020-01-31 16:58] #876 closed

[2020-01-31 16:59] sneridagh commented on #844
This was fixed some time ago

[2020-01-31 16:59] #844 closed

[2020-01-31 17:00] sneridagh commented on #817
Fixed some time ago

[2020-01-31 17:00] #817 closed

[2020-01-31 17:04] sneridagh commented on #774
Closed in favor of: #871

[2020-01-31 17:04] #774 closed

[2020-01-31 17:06] sneridagh commented on #762
Done.

[2020-01-31 17:06] #762 closed

[2020-01-31 17:07] sneridagh commented on #740
Present in volto 4

[2020-01-31 17:07] #740 closed

[2020-01-31 17:12] sneridagh commented on #685
Replaced in Volto 4 with the new sidebar

[2020-01-31 17:12] #685 closed

[2020-01-31 17:13] sneridagh commented on #683
Moved to new sidebar in Volto 4.

[2020-01-31 17:13] #683 closed

[2020-01-31 17:15] sneridagh commented on #666
Removed the docker container for tests some time ago

[2020-01-31 17:15] #666 closed

[2020-01-31 17:17] #591 closed

[2020-01-31 17:17] #287 closed

[2020-01-31 17:18] sneridagh commented on #273
Fixed

[2020-01-31 17:18] #273 closed

[2020-01-31 17:19] sneridagh commented on #218
Done

[2020-01-31 17:19] #218 closed

[2020-01-31 17:19] sneridagh commented on #177
Duplicate, PR in progress

[2020-01-31 17:19] #177 closed

[2020-01-31 17:20] #119 closed

[2020-01-31 17:21] sneridagh commented on #39
Implemented for Volto 4

[2020-01-31 17:21] #39 closed

[2020-02-01 15:06] ksuess commented on #1005
That's old stuff.
You cannot reproduce the error? Fine. I close this issue.

[2020-02-01 15:06] #1005 closed

[2020-02-01 17:40] tiberiuichim opened #1157 "Hit Enter in ObjectBrowser search input sends submit and reloads page"
Tested on Volto 4.0.0-alpha.34.

To reproduce:

- Create an image block, click on the Navtree button.
- In the ObjectBrowser sidebar, go to the search field
- Hit the Enter key on your keyboard.

[2020-02-02 09:16] #726 closed

[2020-02-02 11:42] sneridagh commented on #1147
Fixed in #1147

[2020-02-02 11:42] #1147 closed

[2020-02-02 11:43] tisto opened #1160 "Change focus on tab change"
1) Login as admin
2) Go to a Volto page in edit mode
3) Add a few different blocks
4) TAB between the blocks
-> The blue focus border around the currently used block does not switch with the TABS, it stays on the original block

![Edit Plone Site](https://user-images.githubusercontent.com/632105/73607681-8b816200-45b9-11ea-8796-0e5356cd893f.png)

[2020-02-02 11:43] sneridagh commented on #1150
Fixed in #1159

[2020-02-02 11:43] #1150 closed

[2020-02-02 11:45] sneridagh commented on #1121
Fixed in #1156

[2020-02-02 11:45] #1121 closed

[2020-02-02 11:45] sneridagh commented on #1120
Closing, since it seems it was fixed.

[2020-02-02 11:45] #1120 closed

[2020-02-02 13:40] aryamanpuri commented on #1160
@tisto Can I have a try on this issue?

[2020-02-02 16:46] tiberiuichim opened #1162 "RFC on AlignBlock API"
A really small nitpick about ``align`` member de-structured in the object passed as parameter, below,
[code]
In this case, ``align`` is never used in AlignBlock.jsx and instead ``data.align`` is used. ``data`` probably needs to be passed because it's needed to callback ``onChangeBlock``. I think the API would be cleaner if ``onAlignBlock`` is a prop, merging the data is done in the parent componen

[2020-02-02 17:47] tiberiuichim commented on #1115
I've implemented the poor-man's method described above with a couple of midlewares in store.js. The first one intercepts the ``@@router/LOCATION_CHANGE`` action and dispatches instead a ``PREFETCH`` action that saves the initial action. In the SUCCESS handler of the PREFETCH action, it saves the content for the route in the global store and dispatches the initial LOCATION_CHANGE action. Just to ma

[2020-02-03 09:39] cekk opened #1163 "Image block: allow users to select a miniature?"
I don't know if this is a topic already discussed, but for me it could be useful adding a "miniature" field in image block configuration, to select what miniature to use for the image in the text.

I have several cases where i migrate pages from old sites and images are very large because they are used in different places, but in the text they use a smaller miniature..and in Volto they appear too

[2020-02-06 11:08] sneridagh opened #1166 "Listing block shows the current object"
It seems odd that the current object where the listing lives shows itself as a result.

Either we make the filtering in the endpoint, so we never return the context (then we should make the @querystringsearch endpoint context aware).

Or we just patch the listing block for doing that.

[2020-02-06 11:09] sneridagh commented on #1166
@pnicolli what do you think?

[2020-02-06 11:14] sneridagh opened #1167 "On creating a new block, it should show the sidebar block properties"
... if it has enabled the flag `sidebarTab` in the config object.

[2020-02-06 11:22] sneridagh opened #1168 "Image block: Improve focusing the block, add upload feat to the image icon"
when the image is not set yet. Leave the dropable area, but restrict the upload to the image. Add cursor with pointing on the image icon (upload).

[2020-02-06 13:26] tisto opened #1170 "Volto shows edit view even if the user is not logged in at all"
0) Anonymous user
1) Go to https://volto.kitconcept.com/news/edit
-> The full edit page shows up
-> Expected: 404 or redirect to login form

[2020-02-06 14:24] tiberiuichim opened #1171 "Add Forest Information System for Europa as Volto site in production"
See #1165

[2020-02-06 15:34] sneridagh opened #1173 "Blocks: The current focus management provokes a screen "jump" when selecting a block"
This is because the browser tries to "center" the focused element, related with the keyboard navigation management too.

Investigate if there's other approach to do this.

[2020-02-06 18:12] #1171 closed

[2020-02-06 19:16] tisto opened #1175 "Sorting does not work in folder_contents view"
0) Login as admin
1) Go to https://volto.kitconcept.com/contents
2) Sort the folder_contents view by any way
-> nothing happens
-> it seems no sort_on param is sent by react

[2020-02-07 07:33] pnicolli commented on #1175
Possible duplicates or similar issues:
https://github.com/plone/volto/issues/1035
https://github.com/plone/volto/issues/940

[2020-02-07 13:10] aryamanpuri commented on #1170
@tisto we can use the private routes to all the pages which a user can access after logging in ?

[2020-02-09 21:07] tisto commented on #1166
I'd patch the listing block and filter that out on React level.

[2020-02-09 21:11] tisto commented on #954
@ramiroluz sounds good. Do you mind to fix this in a PR?

[2020-02-09 21:14] tisto commented on #841
I think we discussed this so I will close the issue. We stick to semantic UI for now and allow using other libs.

[2020-02-09 21:14] #841 closed

[2020-02-09 21:14] #806 closed

[2020-02-09 21:14] tisto commented on #771
Wontfix :(

[2020-02-09 21:14] #771 closed

[2020-02-10 17:34] tisto opened #1178 "plone.app.redirector control panel"
* https://github.com/plone/plone.restapi/pull/1398
* https://github.com/plone/volto/pull/3323

[2020-02-10 17:36] tisto opened #1179 "Copy blocks within page"

[2020-02-10 17:37] tisto opened #1180 "Copy blocks between pages"

[2020-02-10 21:12] tisto opened #1181 "Listing Blocks: Support "custom", "parent", "current", and "advanced mode" criteria."
p.a.querystring has a special notation for specific paths such as "custom", "parent", "current", and "advanced mode". The listing block widget needs to support those.

[2020-02-11 14:46] cekk opened #1182 "Listing block: add pagination"
Listing block show only first n results from query, but if we want to use it as a listing_view, we need to implement batch pagination like in classic Plone

[2020-02-12 08:35] sneridagh opened #1184 "RichText widget in a form stopped working."
The draftjs editor don't show the toolbar.

[2020-02-12 09:49] wkbkhard commented on #933
I can't reproduce this any more.

[2020-02-12 09:49] #933 closed

[2020-02-12 10:28] pnicolli commented on #1184
We noticed the same thing yesterday evening. Actually, the toolbar in shown in the top-left corner of the page. Not sure why yet, but this might help to debug it.

[2020-02-12 12:54] ksuess opened #1186 "Layout navigation and user actions (login, register) overlapping on medium windows"
![Welcome_to_Volto_](https://user-images.githubusercontent.com/1144737/74336700-17a43e00-4d9f-11ea-8874-e1ac9f9b3ebe.png)

[2020-02-12 12:58] ksuess opened #1187 "Editing: small windows: button for selecting type of block is missing"
![image](https://user-images.githubusercontent.com/1144737/74336966-ad3fcd80-4d9f-11ea-98bb-a05369f325ba.png)

[2020-02-12 15:09] wkbkhard opened #1188 "Listing View"
Is the indent on the listing view correct? It seems a bit strange that the items move more and more to the left?

![Listing](https://user-images.githubusercontent.com/28622088/74347793-e719cf80-4db1-11ea-8903-bd191655655c.png)

[2020-02-12 15:36] tisto commented on #1188
@wkbkhard no. the images should be aligned correctly of course.

[2020-02-13 07:54] tisto commented on #1182
@cekk that would be a really nice addition. Do you plan to work on this?

[2020-02-13 07:57] cekk commented on #1182
yes, we **need** to work on this in these days.
someone will come back with a pr ;)

[2020-02-13 08:03] tisto commented on #1182
@cekk awesome! Let us know if there is anything we can do to help! I'd love to see this feature in Volto asap as well.

[2020-02-13 09:04] tisto opened #1189 "No way to differentiate different views in CSS"
The CSS classes/ids we use in our Volto views are inconsistent:

DefaultView.jsx:

[code]

https://github.com/plone/volto/blob/cded39e762af5051b23df0e0d53498a6e7b9b32e/src/components/theme/View/DefaultView.jsx#L40

ListingView.jsx:

[code]

https://github.com/plone/volto/blob/cded39e762af5051b23df0e0d53498a6e7b9b32e/src/components/theme/View/ListingView.jsx#L19

SummaryView.jsx:

[code]

https://g

[2020-02-13 09:18] tisto commented on #1188
@wkbkhard in case you plan to work on this. We might change the CSS classes for the views: https://github.com/plone/volto/issues/1189

[2020-02-13 09:21] tisto commented on #1187
@ksuess thank you for reporting this. This is kind of a known UX issue. The question is how to fix it. Leaving a space between toolbar and block might be an option. Though, I'd only do that for small screens and this would make the blocks even smaller (which might cause problems with larger and more complex blocks).

We are open for suggestions or a discussion here I guess. :)

[2020-02-13 09:23] tisto commented on #1186
What about hiding login/registration for smaller viewports? The navigation could still overlap the search but then maybe we have to hide the search for smaller viewports as well. Or switch to mobile view for smaller viewports.

[2020-02-13 09:24] tisto commented on #1184
I'd highly recommend writing an acceptance test as long as this is broken. This way we can make sure such a regression won't happen again. Writing a Cypress test is a perfect newbie task at a sprint. :)

[2020-02-13 10:05] tisto commented on #1189
Briefly discussed this with @sneridagh, the way to go is to fix the view definitions in the body as classic Plone does it.

[2020-02-13 11:37] giuliaghisini opened #1190 "Contents View: Move item to top of the folder doesn't work well"
- Open volto
- go to the contents view mode
- create a lot of new element (for example 40 pages)
- go to the second or third page of the paginated items
- select an element
- try to move it to top of the folder using the item menu option (no dragging)

This action moves the item to top of the current page, and not to top of the folder.

[2020-02-13 13:53] giuliaghisini commented on #1070
this problems there's also when you cut/copy an item and you paste it into antoher item. If the first item is big enought, and copy takes some time, the UI says: 'Success. Item pasted' but you don't see the item until copy has really finshed.

[2020-02-14 08:28] pnicolli commented on #1166
@sneridagh @tisto Actually I feel like it would be better to change p.a.querystring or restapi, for a couple reasons:

- Plone collections work the same way afaik, it's not something that is different in Volto and needs to be fixed.
- The behaviour is already weird and maybe wrong in Plone. I was testing this right now together with @giuliaghisini. Try this: create a collection, select a folderish

[2020-02-14 10:02] #1039 closed

[2020-02-14 11:06] wkbkhard commented on #1188
I'll work on this later today and will kepp #1189 in mind!

[2020-02-14 14:32] sneridagh commented on #1036
@tisto The file feature requires some addition in p.restapi which @csenger was working with Rob during the last sprint, and is still in progress.

[2020-02-14 15:51] sneridagh commented on #1036
https://github.com/plone/volto/pull/1050

[2020-02-14 16:06] sneridagh commented on #1168
<img width="1258" alt="image" src="https://user-images.githubusercontent.com/486927/74547410-5d523980-4f4c-11ea-834f-8824c65e9fb4.png">

[2020-02-14 16:07] sneridagh commented on #1168
@tisto removed the click opens upload dialog on the whole block, move the feature to its own button again.

[2020-02-14 16:15] sneridagh commented on #1168
https://github.com/plone/volto/pull/1194

[2020-02-14 17:07] wkbkhard commented on #1188
Preview:
![ListingView](https://user-images.githubusercontent.com/28622088/74552123-ce95ea80-4f54-11ea-86ef-d89e0fabfc81.png)

[2020-02-15 10:21] aryamanpuri opened #1197 "Link should be over REST API"
In the third line, see at the link of  `REST API`
It should be over REST API whereas it is over the preceding word and `REST`.

![Screenshot from 2020-02-15 15-22-46](https://user-images.githubusercontent.com/43513114/74585896-e0849580-5007-11ea-8022-f4360f8f275d.png)

[2020-02-15 20:18] LeuAlmeida opened #1199 "Revert action validation"
I made a mistake, pushing the wrong remote ... If anyone can validate my revert, I will be grateful.
And to keep my previous contributions, I opened a [PR](https://github.com/plone/volto/pull/1198) for them

[2020-02-17 10:06] #1168 closed

[2020-02-17 11:34] terapyon opened #1207 "Broken Japanese tag (Subject)"
We can add Japanese tag (Subject), but we can't re-select same tag, because saved data became like a Unicode number.

![スクリーンショット 2020-02-17 20 33 34](https://user-images.githubusercontent.com/485372/74650341-d65bc600-51c4-11ea-8a8b-1305af6320f4.png)

[2020-02-17 11:45] terapyon opened #1208 "Got wrong HTML DOM in client rendering with YouTube and Image Blocks"
I got strange HTML DOM in client rendering.

I make a page in YouTube block and two Image blocks. It's fine for first rendering. But the browser reloaded, I got wrong HTML DOM in client rendering, however the server rendering is no problem.

First rendering HTML is:

[code]

Reloaded rendering HTML is:

[code]

After that, I removed YouTube block, I got fine HTML DOM.
I think this is related YouTu

[2020-02-18 01:32] #1199 closed

[2020-02-18 16:02] #1170 closed

[2020-02-18 16:02] #1167 closed

[2020-02-18 16:02] #1013 closed

[2020-02-18 16:03] #1024 closed

[2020-02-18 17:17] aryamanpuri commented on #1197
@sneridagh How can this can be rectified ?

[2020-02-18 17:21] sneridagh commented on #1197
@aryamanpuri I think this was already fixed!. Someone changed the text and didn't update the offset of the link in the source JSON for this block. It lives here:

https://github.com/kitconcept/kitconcept.voltodemo/blob/master/src/kitconcept/voltodemo/setuphandlers.py#L97

[2020-02-18 21:37] tisto opened #1218 "Volto Backend Issues (Zope/Plone)"
- [ ] Zope 4 ZMI: some links do not work when Zope is deployed under a prefix (e.g. "/api") https://github.com/zopefoundation/Zope/issues/788
- [ ] Write on Reads (Plone REST API GET requests)  https://github.com/plone/plone.restapi/issues/867
- [ ] ZODB: The <class ‘BTrees.IOBTree.IOBucket’> object you’re saving is large” on cut/paste operation
 https://community.plone.org/t/zodb-the-class-btrees

[2020-02-19 12:15] giuliaghisini opened #1221 "Draft-js Links on text fields of ContentType"
- Create a new News item
- open the console
- insert some text
- select a word in text and add a link on it
- write a link (f.e. http://www.google.it) or choose a internal link from the list
- an error is fired and link is not created.
This error occurs also when you try to enter edit-mode of an existing content-type wich have link inside text, and all the view is broken.

[2020-02-19 12:54] tisto commented on #1221
@giuliaghisini could you imagine to write a Cypress test that shows this problem (and fails)? It bugs me that we don't catch regressions like this. You can basically just copy over this test:

https://github.com/plone/volto/blob/master/cypress/integration/block-text.js

And apply it for the news item (or any other content object that does not use the blocks layout/editor).

@robgietema any idea wh

[2020-02-19 14:00] giuliaghisini commented on #1221
yess. I created a new branch #draftjs-link-in-contenttype. I'm going to write test now..

[2020-02-19 15:15] giuliaghisini commented on #1221
pushed failing cypress test

[2020-02-19 17:49] ksuess opened #1222 "Navigation update after deleting an item or adding an item in folder contents view"
1. Go to folder contents view of the root
2. Delete an item
3. The item is still visible in navigation

Corresponding situation when adding an item:

1. Go to folder contents view of the root
2. Add an item
3. The item is not visible in navigation

![image](https://user-images.githubusercontent.com/1144737/74860046-4d6d9780-5348-11ea-9a9b-132d664786be.png)

[2020-02-20 17:43] nileshgulia1 commented on #1186
@ksuess The nav links (login,register) do not overlap in when the i18 is en lang. But I think we can switch to mobile view on smaller screens on other languages as well.

[2020-02-21 09:21] terapyon commented on #1208
I got another situation, it is Google Map block and image block.
I set aline right for image.

I took a video of this error
https://youtu.be/_vLhJpXsGRk

[2020-02-21 11:12] avoinea opened #1226 "Logo change TTW"
Would be nice to be able to change to logo TTW via **/controlpanel/site**

![logo](https://user-images.githubusercontent.com/323385/75029906-ad308380-54ab-11ea-888c-0e86a568fa6d.png)

[2020-02-21 13:01] tisto commented on #1221
@giuliaghisini thank you! Would you mind adding a link here to the PR?

[2020-02-21 15:53] cekk commented on #1221
We've found the problem: [this](https://github.com/plone/volto/commit/c3e0b4aeea17ada86b68813795ed63183a79cc20) commit

Basically LinkEntity checks if the user is logged-in or not and creates a different component (router link or standard <a>).

On wysiwyg editor it breaks because the editor try to generate html with [renderToStaticMarkup](https://github.com/plone/volto/blob/master/src/components/

[2020-02-21 19:12] sneridagh commented on #1184
Fixed.

[2020-02-21 19:12] #1184 closed

[2020-02-21 19:12] sneridagh commented on #1182
Merged!

[2020-02-21 19:12] #1182 closed

[2020-02-22 10:49] #1208 closed

[2020-02-22 12:48] zopyx opened #1230 "Bootstrap process (still) broken"
[code]

[2020-02-22 12:55] zopyx commented on #1230
Same error on a different Linux box

[2020-02-22 15:07] tisto commented on #1230
I can confirm the problem:

[code]

Though, in my trace the problem is obvious. I am using Node 12 while create-volto-app only supports Node 8 and 10. We have to fix this.

Note that this is actually a create-volto-app issue.

[2020-02-22 15:09] tisto commented on #1230
@zopyx could you please try to install create-volto-app@4.0.0-alpha.8? Volto 4 will be released very soon (next days) and most likely we won't put much effort into Volto 3 or create-volto-app 3.x.

[2020-02-22 18:39] sneridagh commented on #1230
@zopyx you should use the @alpha version of @plone/create-volto-app

[2020-02-22 18:40] sneridagh commented on #1230
In few days all this confusion current/alpha versions will be over.

[2020-02-22 18:40] #1230 closed

[2020-02-22 18:42] #1221 closed

[2020-02-22 19:24] tisto commented on #1230
@sneridagh we need to find a way to test this properly. What worries me here is that we do not have any CI job that notifies us if things are broken. IMHO we need something like the tests I wrote for bobtemplates.plone that execute all steps necessary in the installation process and then check the result.

[2020-02-22 19:27] sneridagh commented on #1230
It's in place, for alpha and it's working. Deps change can make the build break, that is what probably happened to 3.x.x versions.

https://github.com/plone/create-volto-app/blob/master/.travis.yml#L44

[2020-02-22 19:31] sneridagh commented on #1230
@zopyx I just tried out

`npx @plone/create-volto-app 3dotx`

and worked well, with Node 10.x as @tisto pointed out, most probably you are using 12.x when building the old 3.x.x branch which was supposed to work only with 8.x and 10.x

[2020-02-22 19:43] tisto commented on #1230
@sneridagh yeah. I get the problem. We have two repos who are tightly coupled and we test them individually. We change something in Volto, this breaks create-volto-app and we are never notified because the build is not triggerd. We either have to write a mr.roboto (no!) or merge the two projects into one repo and use lerna to handle multiple projects in a single repo.

[2020-02-24 09:20] ksuess commented on #1186
Anontools (login and register), even if not needed on many websites, are IMHO better hidden in custom themes, not in default theme.

As you said @tisto there is still the search that could be overlapped by a long navigation.
So here is my first throw of a flexible responsive header:
https://github.com/plone/volto/pull/1233

short navigation:

![Gartenplan_-_Mozilla_Firefox](https://user-images.git

[2020-02-24 13:01] tiberiuichim opened #1234 "HTML block needs safe html cleanup treatment"
There should be a mechanism that cleans up the HTML block using the safe html portal_transforms cleanup system.

[2020-02-26 11:40] #1188 closed

[2020-02-26 12:21] tisto opened #1238 "Contents view is accessible for anonymous users"
0) As anonymous user
1) go to https://volto.kitconcept.com/contents
-> you will see the full folder contents view with all options (change workflow, delete, edit, etc)
-> you can not do anything and every call will fail

Expected behavior:

-> Show login form for unauthorized, and maybe even for regular users without the editor role (we need to check how standard Plone handles that)

[2020-02-26 18:53] #874 closed

[2020-02-26 18:54] #1186 closed

[2020-02-27 05:47] terapyon opened #1241 "Console error on reload browser."
I got an error by browser inspector on reload browser with logged in.
`Warning: Expected server HTML to contain a matching <div> in <div>.`

![スクリーンショット 2020-02-27 14 45 49](https://user-images.githubusercontent.com/485372/75415809-039c3700-5970-11ea-8936-88a3dd7e4924.png)

[2020-02-27 09:17] avoinea commented on #982
Step to reproduce (**Volto 4.0.0-alpha.42** & **Plone 5.2.1**):
1. Add & Save Page with title
2. Edit & Add Block
3. See History & Click Edited

https://volto.kitconcept.com/page/diff?one=0&two=1

[code]

[2020-02-27 10:51] avoinea commented on #982
I'll take a look into this...

[2020-02-28 20:02] nileshgulia1 commented on #941
@frapell Are you still working on this issue?

[2020-02-28 20:31] frapell commented on #941
@nileshgulia1 I have not made any progress on this nor the restapi branch, feel free to continue with it if you wish to...

[2020-03-02 06:08] terapyon opened #1245 "Translation new error on browser inspector"
I just tried Volto 4 on master branch at 2020-03-02 03:00+00:00. I just translated to Japanese. but I got a new error for toolbar.

My translation PR is:
https://github.com/plone/volto/pull/1244

We get an error at opening `Add content` menu.

<img width="675" alt="スクリーンショット 2020-03-02 15 03 17" src="https://user-images.githubusercontent.com/485372/75649654-1d52bc80-5c97-11ea-8c33-6b4a57c4015b.png

[2020-03-02 08:42] demarant commented on #1238
Another couple of places to consider:

**1) Accessing an unpublished page, should return 401 and login info**

add a News item "Test news item"  under the news folder and try to access it as anonymous
https://volto.kitconcept.com/news/test-news-item
you will get a 200 OK page with a message on the page  "This page does not seem to exist…" (which is usually for a 404 page).

Expected: return a 401

[2020-03-02 08:50] demarant commented on #1234
for reference, this has been fixed by @tiberiuichim in eea.restapi 1.1
see PR merge code for reference
https://github.com/eea/eea.restapi/commit/0e63893e73813e0158f238b708b8db5c1722dfae

[2020-03-02 12:58] demarant opened #1246 "volto editor just fails when validation of dexterity fields fails, provide proper user feedback when validation fails"
Some fields types just fail and volto does not give any feedback about the failed validation on certain fields types. when saving you get nothigg the first time and an error trace the second time.

**How to reproduce:**

Go to Plone dexterity editor > News Item  > Add 2 new fields
* an Integer field (my_super_field)
* an email field (press_contact_email)

see screenshot example

![Screenshot_2020-

[2020-03-02 13:36] demarant opened #1247 "tuple field (e.g. creator, contributor) are not editable via volto"
it is not possible to edit the Creators or the Contributors field via Volto.
These are of type tuple.

**How to reproduce**
Add a News item. Try to edit and add another creator or contributor and save.
![add-values-to-creator-contributor](https://user-images.githubusercontent.com/320440/75681053-1c1f9080-5c93-11ea-8faf-ff6e5ad1b550.png)

**Expected**
Same behaviour as when editing via standard Plo

[2020-03-02 14:49] demarant opened #1248 "show html buttons for text entered in RichText field?"
How should richtext fields be handled by Volto?

I see that they do not get the same editing buttons as the Volto text-block.

e.g try to edit the Text field of a News Item.

from a user point of view, I would expect same behaviour, meaning no matter where I add text (in blocks or in the metadata richtext field) I should get the same UX and possibility of wysiwyg html formatting.

Of course, the r

[2020-03-02 16:00] jackahl opened #1249 "Bug: new lines inside blockquotes are not rendered"
**Short:** When adding a new line via shift+enter inside a blockquote it's not rendered after saving.
**Steps to reproduce:**
1. Go to edit mode of a page in Volto
2. Add some text in a text block
3. Add some more text to that block in a new line using shift+enter keys
4. Mark all the text you have just written and select the blockquote option for it
5. Save the page

**Result:** The linebreak you

[2020-03-02 18:31] tisto commented on #1248
@demarant I agree. Would you mind adding some screenshots and some steps-to-reproduce?

[2020-03-03 11:03] demarant commented on #1248
@tisto I have updated the issue description with steps and a screenshot.

[2020-03-03 13:29] nzambello opened #1250 "In Text field in CT apostrophe breaks saving"
Volto 4.0.0, Plone 5.2.0, python3

When editing a NewsItem or an Event, if I type something with apostrophes (') it breaks when trying to save the content.

Example: editing/adding a News Item, I type from lipsum.com:

Clicking Save will do nothing in the UI and Plone will print this in logs:

[code]

Clicking a second time Volto breaks.

I edited the same content on Plone without any issue and Vo

[2020-03-03 13:32] nzambello commented on #1250
@sneridagh @tisto @cekk I see this very dangerous and I'd treat it with high priority.
Have anyone else discovered this issue?

[2020-03-03 14:12] sneridagh commented on #1250
The responsibility for converting from djs to html is left to redraftjs library. We have certain control over it, since is configurable. Maybe  the culprit is there.

[2020-03-03 17:58] tisto opened #1252 "Improve Volto error messages"
I ran across this blogposts about how to write good error messages:

https://uxplanet.org/how-to-write-good-error-messages-858e4551cd4?gi=532c11e13d0

I think we can learn a lot from those advices and significantly improve the user experience on errors in Volto. Any takers?

[2020-03-04 01:26] terapyon commented on #1207
I found a new release plone.restapi 6.3.0. @sneridagh Did it focus this bug?

[2020-03-04 19:43] nileshgulia1 commented on #1097
@giuliaghisini That warning comes up when key prop to <list /> is not supplied.

[2020-03-04 19:46] nileshgulia1 commented on #677
@sneridagh I think its done via https://github.com/plone/volto/pull/608  ?

[2020-03-05 07:36] demarant opened #1255 "Test how some volto blocks scales (e.g. related items, vocabulary fields...)with lot of content"
We need to test how Volto ui scales when the plone backend has lot of contents. It is not uncommon that some sites have 10000s of objects.

The current solution in volto works for small size sites, with 100s of objects, however I am not sure it will work for larger sites, we need to test this scenario. This will allow large existing website and easy transition to Volto UI.

I propose to test espec

[2020-03-05 10:04] avoinea opened #1256 "Add possibility to get initialBlocks and initialBlocksLayout from backend"
Add possibility to get **initialBlocks** and **initialBlocksLayout** from backend when adding new content in order to let Site Administrators to dynamically define content default blocks together with DX content definition.

**Plone Dexterity Fields**
![dx](https://user-images.githubusercontent.com/323385/75970039-76f5f980-5ed8-11ea-9172-bb84365e68bb.png)

**Volto Add Form**
![default](https://use

[2020-03-05 14:45] demarant commented on #1248
I cannot reproduce the issue anymore, we updated 4.0.0 and the editing buttons appears now when selecting some text.

[2020-03-05 14:45] #1248 closed

[2020-03-05 20:10] datakurre opened #1258 "Separate development and runtime dependencies"
It would make it more convenient to use plone/volto as a dependency e.g. when only using some of its components in GatsbyJS site with Volto blocks. Now depending on plone/volto adds interesting runtime dependencies...

[2020-03-06 10:03] sneridagh commented on #1258
We should look into this for sure. However, to make a project (depending on Volto) work properly, so the project "sees" all the required dependencies for the project (and Volto) to work. That's why we set all as direct dependencies. Since the JS ecosystem and package resolving is broken (IMHO) that is extremely complex. It would be great to seat with you and have a look together! :)

[2020-03-06 10:55] sneridagh opened #1259 "The objectBrowser has the default limit of 25 for listing folder contents"
I will increase it to show 1000 items but it needs some thought how to implement this. (infinite scrolling?)

[2020-03-06 13:37] datakurre commented on #1258
@sneridagh It seems I got over this, so yes, let's leave this open and try this when we are next time at the same place.

I've been packaging Volto server with Nix for us, and eventually I only had issues with cypress deps (cypress package installer wanting to go to internet to download binaries), but sedding cypress packages of let me through. Now I have npm/yarn free buildchain + deployment for

[2020-03-06 14:25] #1259 closed

[2020-03-06 19:44] datakurre opened #1262 "curl http://localhost:3000 raises TypeError: Cannot read property 'name' of null"
I believe that my Volto (`NODE_ENV=production node build/server.js`) is fully functional when used with normal browsers (e.g. SSR works), but when I do `curl`, I get an error:

[code]

[code]

`@plone/create-volto-app 4.0.0`

(Build without Nix packaging [`yarn build && yarn start:prod`] behaved the same.)

[2020-03-08 09:23] #1262 closed

[2020-03-08 21:42] datakurre commented on #1258
@sneridagh FYI about the image size I'm getting: `docker image ls` reports my full image size as `1.32GB`. Listing folders (`du -hsac`) inside a container reports that my Volto build (including nodejs) is `685.8M` and the size of my Python environment is `635.0M`.

[2020-03-09 12:15] avoinea commented on #1256
Ok, maybe because we didn't make it clear from the beginning what we are trying to achieve with this, the confusion.

Our main **requirement** from **Volto** or a **Volto Add-on** right now is to be able to define Dexterity Content-Types TTW, as in the real world **one page content-type with Title** as the default block doesn't fit all cases and customers need content with more metadata, they need

[2020-03-09 15:08] sneridagh opened #1265 "Deprecate utils.less"
... because now it's superseeded by
https://github.com/plone/volto/blob/5999c56d019f1f3ce8d5216ae8cf69806d40a222/theme/themes/pastanaga/elements/container.overrides#L34

And it can collide with that ones.

It will be removed in Volto 5.

[2020-03-09 15:40] giuliaghisini opened #1267 "Link inside text for content-type without blocks"
This error seams related to this problem https://github.com/plone/volto/pull/1228/files.
I think the problem is in  WysiwygWidget.
These are the steps to reproduce the problem:

- Add a new Event (or ContentType without blocks)
- in Text field, write some text
- select a word and click on link button to add a link
- type something (f.e. 'Events') to choose an internal link
- view the console: an e

[2020-03-09 16:08] #1265 closed

[2020-03-12 12:42] raschmoneit opened #1271 "Newly created user is not displayed in the User Control Panel"
After I added a new user via volto, I can not see this user in the volto user control panel. Also a search did not find the user. On the Backend (plone/@@usergroup-userprefs) the user is created correctly

[2020-03-12 15:17] pbauer commented on #1271
Also: Assignment to groups during user-creation does not work.

[2020-03-12 15:35] fredvd opened #1272 "UX: + sign disappears in desktop when sidebar is open"
If an editor tries to edit their first page in Volto by creating a new block,
* and the sidebar is open, which it is by default
* and their browser window is not in full screen but less than 85% width of their laptop screen (testing this on a MacbookPro 2019 where I had my browser not set to fullscreen)

* The (+) button to select a different block type on the empty text block is gone. With text i

[2020-03-13 10:13] fredvd commented on #1271
First checks yesterday on the sprint in Dresden: actions/redux is still working, but there's an error on the console about the user objects being an Array and an Object is expected. The main users-listing segment is broken, but the add user button and popup still works and users are created in Plone backend.

I tried to search for obvious changes in volto or plone.restapi, but nothing obvious stan

[2020-03-14 12:29] sneridagh commented on #1267
@giuliaghisini @cekk It would be great if we write a Cypress test for normal RichText fileds.

[2020-03-14 12:29] #1267 closed

[2020-03-15 08:00] tisto commented on #1271
We should start fixing this by writing a few Cypress tests to prove things aren't working right now. Otherwise we risk to break this in the future again. When we merged this feature I manually tested everything, so those things used to work as far as I know.

[2020-03-15 08:26] tisto opened #1278 "Volto onboarding"
Our current newbie onboarding sucks. @ksuess @wkbkhard @steffenri and I discussed this at the Plone Tagung in Dresden.

We should set up instructions (either on the README and/or on a separate website:voltocms.com) with basic instructions on:

- how to set up Volto as a user (node, python, create-volto-app)
- how to set up Volto for production use (point to our docs and fix the docs)
- how to get

[2020-03-15 08:29] tisto commented on #1278
@sneridagh could you ask @albertcasado if he has the Sketch files for the Pastanaga UI website? We could use that one as a base for voltocms.com.

[2020-03-18 09:04] cekk opened #1281 "Respect roles that can create new keywords"
In Plone there is a configuration in Site control panel that allows only few roles to add new keywords.
Other roles can only select them from list.

This should be replicated in Volto too

[2020-03-18 14:02] wkbkhard commented on #1278
I just instructed my coworkers to tell me every problem they run into with our new projects, so I can collect those points and may be, we can use them to clearfy some parts of the documentation

[2020-03-19 09:59] ksuess commented on #1278
OK, yes, how could I resist.

You already prepared multiple essential tasks in https://github.com/plone/volto/issues/1278#issue-581580548 I will pick up the thread.

[2020-03-19 10:12] ksuess commented on #1278
@wkbkhard That's great, collecting feedback. I think opening issues for documentation feedback is fine with a label "documentation"

@timo @sneridagh I suggest creating a label "documentation" near label "UX" Would you think about a numbering/order, please?

[2020-03-19 10:45] sneridagh commented on #1278
@ksuess I'm +1 for creating the label too. I suck at naming, any suggestion?
After we decide on it, we should ask @jensens to follow the best practices on label namings.

[2020-03-19 10:55] jensens commented on #1278
the ``33 needs: docs`` is meant for this.

[2020-03-19 11:51] sneridagh commented on #1278
@tisto BTW, https://app.zeplin.io/project/58458c669705b3b95c6ed36f/screen/59ecbc802de9cb85adefc107

is all we have, Albert has searched for it with no success. We have the pastanaga.io Gatsby repo we can use as a template for the new site.

[2020-03-19 11:55] tisto commented on #1278
@sneridagh too bad. I was hoping we could mess around a bit in Sketch to outline how a voltocms.com site could look like...

[2020-03-19 11:56] tisto commented on #1278
@ksuess awesome!!!

[2020-03-19 13:38] avoinea commented on #29
Any work in progress on this? Especially **Dexterity content types**?

[2020-03-19 14:47] tisto commented on #29
@avoinea not really. It is hard to find clients who are willing to pay for control panels. Therefore this is something we have to do via the community or via sprints IMHO. The Dexterity content types control panel is indeed a biggy and it would be great if we could find someone who wants to pick this up. I'd be more than happy to help with advice if needed.

[2020-03-19 15:07] avoinea commented on #29
@tisto Then I suppose I'm the right guy at the right place :).

I can take **The Dexterity content types control panel**

Where should I start? I suppose **plone.restapi**.

[2020-03-19 15:09] avoinea opened #1285 "Control Panel: Dexterity content types"
Add **Dexterity content types** to Control Panel - see #29

[2020-03-20 08:25] tisto commented on #29
@avelino awesome! Yeah, I guess we need to create the rest api endpoints first, then move on to the frontend implementation. Do you want to create an issue on the plone.restapi issue tracker?

[2020-03-20 13:02] avoinea commented on #29
@tisto What about this one https://github.com/plone/plone.restapi/issues/355

[2020-03-21 17:16] sneridagh commented on #985
Fixed in #1209.

[2020-03-21 17:16] #985 closed

[2020-03-21 17:18] sneridagh opened #1286 "Improved related items UX (using the ObjectBrowser to choose objects)"

[2020-03-21 17:26] sneridagh opened #1287 "Cache headers support (p.restapi)"

[2020-03-21 17:26] sneridagh opened #1288 "Locking support"

[2020-03-21 17:29] sneridagh opened #1289 "Print CSS"
ToDo:

- [ ] do some research on Print CSS

- Show basic header
- Hide Navigation and everything that does not make much sense for a print out (e.g. social media buttons)

Resources:

- https://alistapart.com/article/goingtoprint/
- https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/

[2020-03-21 17:30] sneridagh opened #1290 "DatagridField widget or alike"

[2020-03-21 17:31] sneridagh opened #1291 "Explore the possibility to plug other RichText editor instead of DraftJS"

[2020-03-21 17:50] sneridagh commented on #1207
Fixed in k.volto.

[2020-03-21 17:50] #1207 closed

[2020-03-22 16:52] sneridagh commented on #1241
This is know, and it's fixed in the lazy load branch.

[2020-03-22 16:52] #1241 closed

[2020-03-23 14:42] tiberiuichim opened #1296 "Extension point needed in constants/Layouts.jsx"
For Volto addons to be able to add layout titles, ``constants/Layouts.jsx`` should not be used directly, ``Display/Display.jsx`` should import ``layouts`` from ``~/config``.

[2020-03-23 14:45] tiberiuichim commented on #1296
Perhaps it woulld also be possible to join the configuration of layouts/components and layouts/layout titles, in a manner as it is done for blocks.

[2020-03-23 14:50] nzambello opened #1297 "Client only code and SSR"
Related to #760 .

I'm using __CLIENT__ variable to get some code work only in client and not in server rendernig.
But the server spawns me an error when I load a page containing the component with this code.

The error (and the code):
[code]

@sneridagh What am I doing wrong?

[2020-03-23 21:47] sneridagh commented on #1297
Strange, this uses to work always...Which is the error?

[2020-03-24 08:21] nzambello commented on #1297
It was "ReferenceError: window is not defined".
And the whole app went broken.

I swear I restarted the server yesterday to test it, but it seems to be not appearing this morning.

This is the magic and mistery of our work, I know, but I don't get how to reproduce it today.
Could the server cache something while reloading the app?

[2020-03-24 08:23] sneridagh commented on #1297
Might be! I was about to suggest remove the oneliner with a "normal" if syntax. Maybe that the hot reload didn't get well that oneliner.

[2020-03-24 08:25] nzambello commented on #1297
Ok, I guess something about that, so I'm closing this.
Thank you!

[2020-03-24 08:25] #1297 closed

[2020-03-24 08:30] sneridagh commented on #1297
You're welcome!

[2020-03-24 09:22] nzambello commented on #870
Seems to be solved right now. I'm not able to reproduce this now.

[2020-03-26 16:04] ksuess opened #1298 "Cypress best practices"
A subchapter of
https://github.com/plone/volto/tree/master/docs/source/developer-guidelines to "Cypress best practices" would help.

- [ ] If there is not already an id or class to grab an element in a test: **data-cy** is recommended by the Cypress docs but do we prefer adding ids and class names to grab elements in tests?
- [ ] Reduce Cypress command "createContent" by authorization. A use of Cy

[2020-03-27 05:41] terapyon opened #1301 "Google Analysis js code in Volto app"
We want to use Google Analysis in a custom Volto app. How can we set it?

[2020-03-27 11:35] cekk opened #1302 "Volto add-ons naming convention"
@tisto can you please recap here the naming convention that we decided for volto addons that are not in the core? Both from backend and frontend.

We should also add this to the documentation.

These are two repository examples that we made for one current project:

- https://github.com/collective/volto-cookie-banner (Volto component)
- https://github.com/collective/collective.volto.cookieconsent

[2020-03-27 11:48] robdayz opened #1303 "Unauthorized page has a log in link to current view, not current object."
If a non logged-in user tries to edit something:

- https://volto.kitconcept.com/edit

The system shows up the Unauthorized page with a message:

- You are trying to access a protected resource, please log in first

The "login" link points to https://volto.kitconcept.com/edit/login and returns an error.

Link should be https://volto.kitconcept.com/login

[2020-03-27 13:00] tisto commented on #1302
For frontend:

@collective/volto-my-package (for this we would need to get access to the @collective account on npm

For backend:

collective.volto.my_package

We have to think about an alternative for the frontend, so I'd just go with volto-my-package then...

[2020-03-27 13:20] tisto opened #1305 "Travis started to fail out of nowhere"
This happened quite a few times before. Somehow Travis seems to change their configuration/VMs without notice.

To prove that no code change caused this we created a dummy branch with no real change:

https://travis-ci.org/github/plone/volto/builds/667659803?utm_source=github_status

Travis still fails on Plone and Guillotina. I was able to fix the Plone build by not relying on Python venv. I have

[2020-03-27 13:55] bloodbare commented on #1305
@tisto I don't see any error on travis log that makes me understand what is happening. Docker-compose doesn't show any info, maybe because of ` > /dev/null` can you remove it ?

[2020-03-27 14:02] tisto commented on #1305
@bloodbare running: https://travis-ci.org/github/plone/volto/jobs/667721180

On Fri, Mar 27, 2020 at 2:56 PM Ramon Navarro Bosch <
notifications@github.com> wrote:

[2020-03-27 14:34] bloodbare commented on #1305
Looks like there is no problem with docker-compose. I've checkout the branch and run the tests with the same failing tests so **its not a Travis problem**.

I have the feeling that https://github.com/plone/volto/blob/travis-fail-test/cypress/support/guillotina.js is not called to create the "Site".

[2020-03-27 14:41] bloodbare commented on #1305
I've checkout commit https://github.com/plone/volto/commit/8052079f4011fd7bc8dd8d3b32717f294fa19f11 and all works in Guillotina, was the commits after on volto that broke it (and I can reproduce in my laptop)

[2020-03-27 14:50] bloodbare commented on #1305
Looks like master works on guillotina, its the travis-fail-test branch: This commit https://github.com/plone/volto/commit/3b2355494680d36345a7146fcff0c2484cea7289

[2020-03-27 14:59] bloodbare commented on #1305
@tisto ^

[2020-03-27 15:12] tisto commented on #1305
That branch was not created from master. Have to do it again.

[2020-03-28 16:34] #1305 closed

[2020-03-30 10:30] robdayz opened #1315 "mailto: removed from html. Mailto not working"
In Plone we have a page with a mailto link like that:

`<p>Personal <br>Tel. 123456789<br>E-Mail: <a href="mailto:user@domain.com">user@domain.com</a></p>`

In Volto the mailto link it's not working, Volto removed mailto: reference:

`<p>Personal <br>Tel. 123456789<br>E-Mail: <a href="user@domain.com" target="_blank" rel="noopener noreferrer">user@domain.com</a></p>`

And when you move the mouse o

[2020-03-30 11:02] robdayz commented on #1315
Sorry, but seems that this is not related to Volto itself because we can create valid mailto links TTW.
Maybe related to a migration process, from Plone to Volto.
I'm closing it now because Volto it's working well.

[2020-03-30 11:02] #1315 closed

[2020-03-31 07:52] ksuess opened #1317 "Naming convention"
To be discussed: naming convention for new var names

A subchapter of
https://github.com/plone/volto/tree/master/docs/source/developer-guidelines to "Naming convention" would come in handy.

[2020-03-31 07:58] ksuess commented on #1317
My intention for this issue is making/keeping the onboarding for js developers to Volto Plone community easy. Or as Piero wrote
_To add more on that, I think that if we want to make it easier to onboard js devs in the Plone world with volto, keeping it as close to the community standards should be the goal._

See comment of @tisto voting for snake_case https://github.com/plone/plone.restapi/pull/8

[2020-03-31 15:46] tisto opened #1318 "Change workflow state of content objects recursively"
There is currently no way to change the workflow state of content objects in Volto recursively.

Proposal: we should add a checkbox "change workflow state for this content object and all contained objects" (whatever Plone currently uses).

Steps to reproduce:

1) go to https://volto.kitconcept.com
2) login as admin
3) create folder with a nested structure and a few documents
4) go to the contents

[2020-03-31 18:14] tisto commented on #1317
Neither JavaScript nor React have a naming convention or even recommendation. create-react-app also does not have an official recommendation or eslint check. Though both react and create-react-app seems to use camelCase for variable names internally.

FYI: I did not vote for snake_case in Volto. We decided to use snake_case for plone.restapi attributes because it is Python and because of historic

[2020-04-01 22:17] #1175 closed

[2020-04-02 12:49] iFlameing opened #1327 "Docker image not persist locally"
When I am running docker command for backend I need to have internet connectivity every time before running this command.

[2020-04-02 14:22] tisto commented on #1327
@iFlameing can you please provide more information and an error trace?

[2020-04-02 14:53] iFlameing commented on #1327
Steps to reproduce:
1. Run this command first time with network connectivity you successfully start the backend for the Volto project. Now stop the backend server and disconnect from the network and re-run. You will see the below error.
[code]

![Screenshot from 2020-04-02 20-13-53](https://user-images.githubusercontent.com/33936987/78263533-b5a2c200-751f-11ea-8304-cd89c01088c8.png)

[2020-04-03 09:58] tisto commented on #1327
@iFlameing odd. I don't know much about our docker images. Maybe @sneridagh or @avoinea can help here...

[2020-04-03 10:41] avoinea commented on #1327
@iFlameing @tisto

That's because you used `--rm` and the docker container is removed every time you stop it. To fix this, you should run it like:

**First run:**
[code]

**Stop**
[code]

**Start**
[code]

**Logs**
[code]

Also, it requires internet connection because you're using Plone with a custom add-on from pypi.org . If you don't use [kitconcept.volto](https://pypi.org/project/kitconcept.vol

[2020-04-03 13:42] tisto opened #1328 "Pastanaga UI styling for folder contents"
# Desktop

![51E85D98-7DF6-4491-A469-C8F976A9C069](https://user-images.githubusercontent.com/632105/78367081-d0c60e00-75c1-11ea-831d-308a17eca85a.png)

![2393F88A-F3A4-457D-B937-F12EB345C7B2](https://user-images.githubusercontent.com/632105/78367163-ed624600-75c1-11ea-91b1-aa1568a41e2c.png)

# Edit Menu

![48F2FF32-3E6B-4A94-94CE-DD0F22351FE7](https://user-images.githubusercontent.com/632105/78367

[2020-04-03 20:00] iFlameing commented on #1327
I think we should update the docker command by just removing --rm because we don't want to pull the Plone image every time and close this issue. Any more thoughts? @tisto

[2020-04-05 09:03] sneridagh opened #1332 "ArrayWidget component do not support manually set vocabularies"
It should do it as SelectWidget does:
https://github.com/plone/volto/blob/a56a6611d5fdc11243c2a1efc39c913031f6e2b1/src/components/manage/Widgets/SelectWidget.jsx#L391-L393

[2020-04-06 07:17] #1332 closed

[2020-04-06 13:22] giuliaghisini opened #1340 "If item is 'Excluded from navigation' it shows up in search, @navigation and listing block"
- Add an item.
- set it to 'Exclude from navigation'
- save
- make a search in search input field in site header searching the item name
- it is found (and we won't it) --- search results ----
- add a listing block in a page, select the path containing the added item as a filter
- the item is in list (and we won't it) --- listing-block ---
- move item to the root folder
- it's in menu (and we won'

[2020-04-07 07:24] sneridagh commented on #1149
I will leave here for the record, the bundle sizes and improvements we are making in our lazy load story.

This is the bundle analysis for master, Volto 4.6.0 April 7th (Baseline)
<img width="1917" alt="VoltoModuleAnalyzerBaseline" src="https://user-images.githubusercontent.com/486927/78641477-973b1e80-78b1-11ea-8779-b0032689ec74.png">

and the current sizes

<img width="324" alt="image" src="http

[2020-04-07 07:42] sneridagh commented on #1149
These are the ones after the basic boilerplate: #1342

[2020-04-08 15:31] avoinea opened #1345 "The right sidebar should allow full-screen mode"
For better UX on metadata editing the right sidebar should allow expansion:

![sidebar-fullscreen](https://user-images.githubusercontent.com/323385/78802800-e7f06b80-79c6-11ea-8c0a-b2d8eb150697.gif)

[2020-04-08 15:48] tisto commented on #1345
@avoinea nice! I would love to hear what @albertcasado thinks about the UX. This is just a detail. Though, when clicking on an "X" icon I'd except to go full screen and not "just" expand to the left.

[2020-04-08 16:38] sneridagh commented on #1345
Albert said:
Yes, expanding the details may help a lot. The x is not for that. You will need to add a expander icon that calls the expand. The typical < that reverse to > when expanded

Better if you place that left to the title but check it is not perceived as a back

If this icon < > does not work go for a maximise and minimise icons. I will take a look this weekend!

[2020-04-08 21:22] sneridagh commented on #1149
Merged #1342

[2020-04-09 07:16] tisto commented on #1345
"<" and ">" makes sense to me as a user. Though, this is something we can test do user tests on. I am wondering if it would be better to put the icons to the left side of "Document" and "Block". Right now you click on the right side of the sidebar to expand it to the left.

[2020-04-09 10:02] avoinea commented on #982
Fixed and merged by #1242

[2020-04-09 10:02] #982 closed

[2020-04-09 12:37] tiberiuichim opened #1348 "Sidebar should be more friendly with beginners"
Scenario: new users of Volto don't know exactly what the sidebar does. When creating a new page, the default sidebar tab is "Document", because the Title block doesn't have sidebar settings. The user decides he's not interested in those metadata fields, closes the sidebar and now, because of the sidebar expand cookie, that user will miss all the sidebar settings for blocks.

My proposal is that th

[2020-04-09 13:05] jackahl commented on #1301
hi @terapyon,
we just implemented Google Analysis into one of our projects. This is how to do it:
First create a useGoogleAnalytics file in your project, in which you create a useGoogleAnalytics hook using the following code:
useGoogleAnalytics.jsx
[code]
Use this hook in a GoogleAnalytics function. We created a separate file for that, but you can for sure also directly declare that function in th

[2020-04-09 14:13] avoinea opened #1349 "Control Panel still use Semantic UI icon font - can't set all icons available"
![broken-icons](https://user-images.githubusercontent.com/323385/78904531-5ac01c00-7a85-11ea-951d-58cec2390b67.png)

[2020-04-09 16:35] tiberiuichim opened #1350 "Images uploaded to Image block stay uploaded even if page add or edit is canceled"
Because images uploaded in Image blocks are created as files in the context, they break the expectation that, if I cancel adding the page, the image will not be created on the server.

[2020-04-10 11:56] #632 closed

[2020-04-10 11:56] #678 closed

[2020-04-10 11:57] sneridagh commented on #1149
Merged #1145

Current status:
<img width="1916" alt="Screenshot 2020-04-10 at 12 52 26" src="https://user-images.githubusercontent.com/486927/78985944-5ef24500-7b2a-11ea-800c-7304eac2afdf.png">

<img width="591" alt="Screenshot 2020-04-10 at 12 52 38" src="https://user-images.githubusercontent.com/486927/78985959-67e31680-7b2a-11ea-8c81-412079a02bf0.png">

<img width="586" alt="Screenshot 2020-04-

[2020-04-10 13:54] tiberiuichim commented on #1350
As another consequence related to the way images are created, you can't create Image blocks in a page that hasn't been added way, in a folder that doesn't allow images. Also, images that are created in a page that hasn't been added yet, are created in the parent folder instead of the page where they "belong"

[2020-04-11 07:39] tisto commented on #1350
This is indeed an issue that we faced right from the start. Though, unfortunately this is far from trivial to fix. This is just the way how Plone works. We discussed the pros and cons of different approaches but we did not figure out a good way how to fix this yet.

We do not want to go back to the way AT created content objects because we have to garbage collect the object then. It would be inter

[2020-04-11 10:23] sneridagh commented on #1149
After #1362:

<img width="1916" alt="Screenshot 2020-04-11 at 12 09 45" src="https://user-images.githubusercontent.com/486927/79041315-1fd9f780-7bef-11ea-964f-c9f24146a020.png">
<img width="584" alt="Screenshot 2020-04-11 at 12 09 54" src="https://user-images.githubusercontent.com/486927/79041320-28cac900-7bef-11ea-9a59-29980e691433.png">
<img width="582" alt="Screenshot 2020-04-11 at 12 10 00" sr

[2020-04-11 14:43] sneridagh commented on #1149
After #1364

<img width="1911" alt="Screenshot 2020-04-11 at 16 42 31" src="https://user-images.githubusercontent.com/486927/79046846-7f49fe80-7c13-11ea-8803-a92d01500d69.png">
<img width="580" alt="Screenshot 2020-04-11 at 16 42 38" src="https://user-images.githubusercontent.com/486927/79046848-807b2b80-7c13-11ea-934c-2b7a8a57e332.png">
<img width="584" alt="Screenshot 2020-04-11 at 16 42 43" src

[2020-04-11 14:45] sneridagh commented on #1149
After #1365

<img width="1919" alt="Screenshot 2020-04-11 at 16 44 23" src="https://user-images.githubusercontent.com/486927/79046903-c932e480-7c13-11ea-936b-dcc5073a98cc.png">
<img width="589" alt="Screenshot 2020-04-11 at 16 44 29" src="https://user-images.githubusercontent.com/486927/79046904-c9cb7b00-7c13-11ea-9f9e-d372d3749599.png">
<img width="586" alt="Screenshot 2020-04-11 at 16 44 35" src

[2020-04-13 16:03] tiberiuichim commented on #1350
One way I'd see is to invent a way to also transport/include "children" as part of the restapi message. So, the image would not be immediately uploaded to the server, instead with would be included as a "subrequest" when the page is saved. This would require coordinating the object creation, its final id and the the path value in the image block, but can be done. Of course, how to elegantly expres

[2020-04-13 16:10] iFlameing commented on #1271
@tisto I am unable to make a post request to /@user plone from the volto app. But when I am doing with Postman it succeeds.
[code]

[2020-04-14 15:03] avoinea commented on #1345
This is how it looks with `<` and `>` on the right:

![icon-on-right](https://user-images.githubusercontent.com/323385/79240137-08626f00-7e7a-11ea-9dc4-c37566818b58.gif)

[2020-04-14 15:03] avoinea commented on #1345
This is how it looks with < and > on the left:

![icon-on-left](https://user-images.githubusercontent.com/323385/79240243-3182ff80-7e7a-11ea-886a-7178140aaab2.gif)

[2020-04-14 15:05] tisto commented on #1345
Is it possible to align "Document / Block" on the left even if we place the <> icons on the left?

Visually I kind of like this. Though, I am not sure from the UX perspective if that's an improvement or not. It would be nice to hear @albertcasado opinion. The other option is we merge it and wait for feedback from our users/clients.

[2020-04-14 15:11] avoinea commented on #1345
Something like this:

![icon-on-left-align](https://user-images.githubusercontent.com/323385/79241099-414f1380-7e7b-11ea-858f-a0a60df1de9e.gif)

[2020-04-14 15:20] tisto commented on #1345
Yeah. I like it. What do you think @sneridagh?

[2020-04-14 16:05] tisto opened #1372 "Polish Users and Groups Control Panel"
![Users and Groups (4)](https://user-images.githubusercontent.com/632105/79247244-90e10f80-7e7a-11ea-87b5-6c23fe81607d.png)

[2020-04-14 17:17] tisto opened #1373 "Listing Block: sort by effective date, reverse sort order has no effect"
1) login as admin
2) create a page with a listing block and two pages with effective date set
3) listing block config: sort by effective date, reverse sort order
-> reverse sort order has no effect on listing block results

![Seite bearbeiten (8)](https://user-images.githubusercontent.com/632105/79254024-672ce600-7e84-11ea-8117-a8d09407e147.png)

[2020-04-14 18:09] sneridagh commented on #1345
@avoinea looks good! Thanks!! Tomorrow evening I've scheduled a talk with Albert. We will review all the latest changes and this one as well. I'll tell you!

[2020-04-14 18:18] sneridagh commented on #1345
@avoinea he already gave his blessings :) btw, I realised that the PR is not updated with that change, can you update it?

[2020-04-14 18:45] sneridagh opened #1374 "Two buttons with the same purpose in new control panels actions"
@avoinea when I revised the PR I thought we were removing the "back" button.

<img width="186" alt="image" src="https://user-images.githubusercontent.com/486927/79261989-e1fbfe00-7e90-11ea-80ed-952dca57978f.png">

We can't expose two buttons that do the same (back and cancel).

[2020-04-14 20:27] avoinea commented on #1374
I know, but how do you go back after save?

Hitting the Cancel button after Save didn't seem right to me.

[2020-04-14 20:56] sneridagh commented on #1374
I will ask Albert tomorrow!

[2020-04-15 05:49] tisto opened #1375 "Listing Block: type: "TypeError" in "nextprevious.py", line 88"
1) go to https://volto.kitconcept.com
2) login as admin
3) create new page with listing block https://volto.kitconcept.com/page/edit
4) choose location -> absolute path: /Plone
-> nothing happens, js error in the console / network tab

![Edit Page](https://user-images.githubusercontent.com/632105/79302810-a9d6d880-7eed-11ea-97f1-7eebc9e5520c.png)

[code]

[2020-04-15 06:14] tisto commented on #1348
This is a UX issue that we discussed. Though, it is really hard to find the right balance here. You do not want to distract the user by switching sidebars or flashing all the time, on the other hand, you might want to put a focus on those settings. This is definitely something where we have to experiment with different approaches and see which one works. IMHO there is no easy answer to the valid q

[2020-04-15 06:25] tisto commented on #1375
I created a fix for this: https://github.com/plone/plone.app.dexterity/pull/309

@steffenri could you please write a Cypress test that shows the current bug?

Scenario:

Given a page that contains two pages
When I add a listing block with the location criterion set to absolute_path = '/Plone/my-page'
Then the two containing pages should show up in the listing block
And the two containing pages sho

[2020-04-15 06:30] tisto commented on #1181
@sneridagh this is something we should discuss with @albertcasado today.

[2020-04-15 06:34] tisto commented on #1166
@sneridagh so the plan would be to make querystring-search context aware, so we can automatically filter out the current object from the search results, correct? We would need to:

a) create a PR to plone.restapi to make querystring-search context aware (not a breaking change since we just add functionality here)
b) create a PR to Volto to call querystring-search on the context where it is current

[2020-04-15 06:51] avoinea commented on #1374
Best we can do here is to drop the Cancel button, but this doesn't feel right, either :smile:

[2020-04-15 08:07] tisto commented on #1166
Note: we will go with the context-aware querystring search. the only thing it does it filter out the context. we live with the fact that you can call it context-aware but that you have to pass a path to actually take the context/path into account when doing the search. we should document that properly.

[2020-04-15 08:44] steffenri commented on #1375
Sure. On it.

[2020-04-15 09:20] pnicolli commented on #1166
I think that making it context aware would also be helpful for relative path searches. At the moment we have this hack to make that work https://github.com/plone/volto/blob/master/src/actions/querystringsearch/querystringsearch.js#L12

[2020-04-15 09:29] tisto commented on #1166
@pnicolli just to be clear. context-aware means just that we filter out the context object itself. this has no consequences for the query path (relative or not). If we would make querystring-search context aware in that sense, we would duplicate functionality between the context and the query. Say you call querystring-search on a context and provide a location path criterion. Which one would win?

[2020-04-15 11:00] avoinea commented on #1345
@sneridagh Done!
![icon-final](https://user-images.githubusercontent.com/323385/79330001-6d24d480-7f21-11ea-8a8c-aa797c54c6c0.gif)

[2020-04-15 11:31] #1271 closed

[2020-04-15 12:02] cekk commented on #1250
Update to fix it without changing anything in draftjs: https://github.com/plone/plone.restapi/pull/913

[2020-04-15 12:49] avoinea commented on #850
Fixed by #1347

[2020-04-15 12:49] #850 closed

[2020-04-15 16:04] tisto commented on #1375
Fixed and released: https://pypi.org/project/plone.app.dexterity/2.6.5/#id1

Pin plone.app.dexterity = 2.6.5 to fix this in Volto.

[2020-04-15 16:07] #1375 closed

[2020-04-15 18:16] sneridagh commented on #1374
@avoinea After a talk with Albert, he is more in favor of dropping the back button, if we go full consistent with the content forms, then we go full in.

[2020-04-16 09:41] sneridagh opened #1380 "Default `blocks` and `blocks_layout` are leaking in the request on every form"
<img width="1095" alt="image" src="https://user-images.githubusercontent.com/486927/79441096-1548a500-7fd7-11ea-88a5-ea35ac8c5091.png">

They should only be included if there's a content type add/edit form and the content type has the fields enabled.

[2020-04-16 09:43] sneridagh opened #1381 "[UI improvements] Login form"
Minimize the amount of text there, now it's too much for a login form:

![F502FC7C-AC7B-4BDB-9919-712749D28971](https://user-images.githubusercontent.com/486927/79441371-6fe20100-7fd7-11ea-85a7-689fce5a42de.png)

* username/email - Not login
* registration form - sign up
* Request a new password

[2020-04-16 09:44] sneridagh opened #1382 "[UI improvements] Form shadows (and shadows in general)"
Review the look and feel of shadows in form titles (registration form) (and in general)

[2020-04-16 09:45] sneridagh opened #1383 "[UI improvements] Form validation errors are still default Semantic UI ones"
The are too red-ish, too alarmists :)

[2020-04-16 09:57] sneridagh opened #1384 "[UI improvements] Toolbar"
* Remove the pastanaga icon from the toolbar
* hover in buttons tooltip - 1-2sec delay
* accessibility/keyboard navigation in toolbar

[2020-04-16 09:58] sneridagh opened #1385 "[UI improvements] Sharing form"
* sharing contents it has two icons almost identical
* it does not have the pastanaga implementation

[2020-04-16 10:00] sneridagh opened #1386 "[UI/UX improvements] Sidebar"
* the document tab (form) sections collapsed by default if I click the title, show the document tab
* the rest, show the block properties
-> Do show less the document tab
* Rename the "document" label in the document tab to something else (Metadata?) 🤨 naming naming

[2020-04-16 10:07] sneridagh opened #1387 "[UI/UX improvements] Blocks"
* blocks chooser naimation, more quick - eventually add the search input
* change table block icons -> @albertcasado  will provide
* too many x on the listing block selects 😅

Listing block:
* Make the contained elements a query too, so the filters work.

[2020-04-16 10:08] sneridagh opened #1388 "[UI/UX improvements] BrowserObject"
* Add more padding in the arrow in the objectbrowser and a vertical line
* previewing on a icon -> icons for every content type at least

[2020-04-17 11:01] iFlameing commented on #1289
some research link https://stackoverflow.com/questions/40754394/webpack-style-loader-media-tag-for-printing

[2020-04-17 19:54] #1250 closed

[2020-04-20 09:56] sneridagh opened #1391 "Dates widget - Can't choose a date in the past"
The choice can't be limited to future dates.

[2020-04-20 11:51] pbauer opened #1392 "Dates widget - Changing only the start-date throws a validation-error"
Only when I edit both date-fields (start and end) I can save.

[code]

`data` has only `start` so it cannot compare it to `end`: `{'speaker_biography': {'content-type': 'text/html', 'encoding': 'utf8', 'data': '<p>huhu</p>'}, 'start': '2020-04-22T22:03:00.000Z'}`

[2020-04-20 14:58] tisto opened #1394 "Support modern image formats (WebP, JPEG 2000)"
Volto should support modern image formats such as WebP and JPEG 2000. Those formats promise significantly smaller image sizes.

- WebP is supported by all modern browsers except Safari
- JPEG 2000 is supported by Safari
- JPEG XR is supported by IE 11. Though, since Volto does not support IE11 we won't support it

ToDo:

- [ ] Check how much performance improvements we can gain on a real-world Vol

[2020-04-20 14:59] tisto opened #1395 "Support srcset in Volto"
Volto should deliver images with srcset to reduce the download sizes of images.

[2020-04-20 15:00] sneridagh opened #1396 "Use EEA applyConfig facility in Volto core"
The EEA folks came up with a clean way to get configuration from Volto addons, then apply it in your current project using this helper:

https://github.com/eea/volto-plotlycharts/blob/master/src/config.js#L27

I would like to port it to Volto core, and document how to use it. Like:

https://github.com/eea/forests-frontend/blob/master/src/config.js#L18

[2020-04-21 07:17] nzambello commented on #1395
IMHO this is related to #1163

[2020-04-21 07:29] tisto commented on #1163
@cekk can you elaborate a bit on this? I don't fully understand this TBH. :)

[2020-04-21 08:17] tiberiuichim opened #1397 "Pro/cons of portlets"
I'm opening a discussion on the pros and cons of having the portlets system available as an option.

- Plone has them, they've proved their usefulness. The News Portlet, Events, the Navigation portlet, the Static text portlet see a lot of action in the websites I've worked on.
- The portlet system offers a lot of flexibility for site administrators. They can be toggled on/off per sections and can

[2020-04-21 08:28] tiberiuichim opened #1398 "Use a form for block metadata editing"
Right now the block metadata fields that can be edited in the Sidebar are all "hardcoded" in the various block sidebar components. For example ``ImageSidebar.jsx`` or ``MapsSidebar.jsx``.

With a few adjustments, the existing form implementation can also allow editing of block metadata, if the block metadata is expressed as a schema following the same model as the dexterity types serialization use

[2020-04-21 08:32] cekk commented on #1397
i'm +1 for a portlet-ish mechanism in volto basically for inheritance.
The good thing of old-way Plone sites is that site administrators can manage the footer and add columns that can be seen only in some sections.

I don't know if i prefer using portlets or blocks. Portlets because they are already there, and blocks because they are lighter and easier to manage/customize

[2020-04-21 08:38] tiberiuichim commented on #1397
@cekk I imagine that, in the same way a portlet can store "static text", there can be a portlet that can store blocks.

[2020-04-21 13:27] pbauer commented on #952
This is still broken in Volto 5.0.1

![options](https://user-images.githubusercontent.com/453208/79871244-5d573580-83e4-11ea-8153-d98aeb2c2647.png)

![selected](https://user-images.githubusercontent.com/453208/79871434-9f807700-83e4-11ea-9bb7-6af1baf6d1f0.png)

![inspect](https://user-images.githubusercontent.com/453208/79871250-5f20f900-83e4-11ea-8782-1f0908534ffa.png)

[2020-04-21 13:38] pbauer commented on #952
With the newest `plone.restapi = 6.6.0` the error is stil there but a but different:

![options](https://user-images.githubusercontent.com/453208/79872339-f76bad80-83e5-11ea-94ab-aec7ec81d998.png)

![inspect](https://user-images.githubusercontent.com/453208/79872412-0ce0d780-83e6-11ea-979c-0492b50e536d.png)

[2020-04-21 13:49] giuliaghisini opened #1400 "Multilingual: new translated object is created always in the LRF"
- crate page A
- translate page A to another language
- create page B  inside page A
- translate page B to another language
- the B-translated page is always placed in the LRF of the other language, and not into the same path of the original language as expected.

[2020-04-21 15:03] sneridagh commented on #952
This should have fixed it (I tested it out):
https://github.com/plone/volto/blob/c13ee5693a4dade5c1c38578ee4339e04902b474/src/components/manage/Widgets/SelectWidget.jsx#L337-L342

For Select fields, might be that the type of fields that it's being rendered is different? So the resultant widget does not have the fix?

[2020-04-21 15:04] sneridagh commented on #952
I remember even test it with your training package during the Alpine sprint.

[2020-04-21 15:07] sneridagh commented on #1400
Are you sure that "translated page A" is in place? Because we are using Plone's logic to control that, and the tests are in place, and I remember to test this use case successfully.

[2020-04-21 16:48] sneridagh commented on #952
Just tested out:
https://volto.kitconcept.com/philip-choice-test

<img width="410" alt="image" src="https://user-images.githubusercontent.com/486927/79890753-3eff3300-8400-11ea-81f8-0083fb312929.png">

It's a TTW added field, might be that changes from the programmatic one, but now I can't tell how.
Are you sure you are on Volto 5.0.1?

[2020-04-21 17:10] sneridagh commented on #1400
@giuliaghisini crap, now I can't reproduce it anymore, it works always...
Any idea how to reproduce it? (I seen it myself at the first try, might be that I didn't had the lang set...)

[2020-04-21 21:20] #1289 closed

[2020-04-21 21:42] tisto commented on #1318
@robgietema works like a charm! thanks!

@iFlameing @steffenri maybe one of you could write a Cypress test tomorrow for this:

1) create a document with another document inside, both are in the wf state private
2) go to folder contents in the parent object of the document
3) select the document and publish it via the bulk actions, check the "change workflow state recursively"
-> both the document

[2020-04-22 06:27] giuliaghisini commented on #1400
@sneridagh i tried again me too, but everything seems working well now.. i've done the same steps that i did yesterday but now it's everything ok.. I don't know what could be wrong in my previous tests.. i agree to schedule a meeting to discuss the language switch.

[2020-04-22 06:53] giuliaghisini commented on #1400
@sneridagh i've reproduced the problem:

- crate page A
- translate page A to another language (well be page A1)
- create page B inside page A
- change lang from language switcher link in site header (the cookie 'lang' is changed to the correct destination language)
- edit the url in browser to return to page A (or B, it's the same). The cookie 'lang' is not changed now
- translate page B to anoth

[2020-04-22 07:12] giuliaghisini opened #1401 "Multilingual: navigate to page that's not a default language page"
- my defaultLanguage in config.js is 'it', and my availableLanguages in config.js are ['it','en']
- If i'm in anonymous navigation browser mode and i type the url of a page of en language, for example i type http://localhost:3000/en/experiences/visit-to-the-ferrari-vinegar-factory
- i see the right content, but i18n translation are wrong, they are translated in default language (it) and not in res

[2020-04-22 08:14] tisto commented on #1035
@iFlameing pls check the functionality and write a Cypress test for it.

[2020-04-22 10:15] pbauer commented on #952
Yes, I am on Volto 5.0.1 with restapi 6.6.0. You use the sidebar (blocks layout). I use the default layout without blocks.

[2020-04-22 10:50] pbauer opened #1404 "Supported field types in Volto"
This is a summary of some issues:

* Some default field-types are not are not serialized by plone.restapi (`schema.Time`, `schema.Timedelta`, `schema.Dict`).
* Some fields are not properly implemented yet (RelationChoice).
* Some fields are not working properly (list or set with `value_type=schema.Choice`, see #952)
* `directives.widget()` is ignored in volto

In https://training.plone.org/5/maste

[2020-04-22 14:37] sneridagh commented on #952
Fixed by: https://github.com/plone/volto/pull/1405

[2020-04-22 14:52] sneridagh commented on #1400
What did you do here? Did you returned to the original language via the switcher?

I guess we will need a video or so to make sure we are all in the same page and we can all reproduce the problem.

[2020-04-22 15:47] sneridagh commented on #952
@pbauer I will cut a release this evening. Tell me if it's fine now!

[2020-04-22 17:39] nzambello commented on #1392
@sneridagh something about validation is missing here.
Investigating.

[2020-04-22 18:28] sneridagh opened #1408 "Localization / Multilingual locales and current (interface) language vs current Multilingual site setting"
In Plone, the concept "current" language is unified, and it controls which multilingual site are you in, and the language used thorough the site.

I think it's time to separate concepts so:

- Selecting the language of a site (eg. "I want to see the English version of this site"), via the language switcher or by navigating to it, doesn't mean I want the interface in English.
- It doesn't mean that

[2020-04-22 18:29] #1328 closed

[2020-04-22 18:30] #1391 closed

[2020-04-22 18:31] #1345 closed

[2020-04-22 18:40] iFlameing commented on #1318
@tisto fixed in https://github.com/plone/volto/pull/1343.

[2020-04-22 19:14] pbauer commented on #1189
We should add the same body-classes as classic plone.

In Volto we currently have:

[code]

Teh same page in classic Plone has:
[code]

Most importantly we should add userrole, subsection and site.

[2020-04-22 19:21] sneridagh commented on #1189
I’ll show you tomorrow how to differentiate views. Agreed regarding the
userrole, but that’s not easy now, some other things should happen before.
The sections are there though.

On Wed, 22 Apr 2020 at 21:15, Philip Bauer <notifications@github.com> wrote:

--
Víctor Fernández de Alba
Github/Twitter/IRC: sneridagh

[2020-04-23 06:59] #1392 closed

[2020-04-23 07:27] pbauer commented on #1189
In the hope that userrole will be implementet soon I'll leave this in the training:

[code]

From https://github.com/plone/training/commit/c702e37818dd4dcd0b328169a96add904d4edbf2#diff-44366b2a1cad54098abec452a0fd54b2R235

[2020-04-23 07:51] tisto opened #1411 "Folder contents styling for mobile"

[2020-04-23 07:59] tisto opened #1412 "Show maximum number of allowed characters in a Volto form textfield"

[2020-04-23 09:07] tisto opened #1413 "Folder contents view: show expired label for expired content"
The folder contents view in classic Plone shows a nice "expired" label on expired content:

![Deutsch (30)](https://user-images.githubusercontent.com/632105/80080939-96151d00-8552-11ea-8d99-e4c4f763a739.png)

Not sure if this is in @albertcasado's mocks but this is a nice feature.

[2020-04-23 11:09] sneridagh commented on #952
@pbauer released Volto 5.1.0

[2020-04-23 11:10] sneridagh commented on #1374
Fixed in: #1409

[2020-04-23 11:10] #1374 closed

[2020-04-23 13:48] pbauer opened #1414 "Label in CheckboxWidget not clickable"
E.g. when editing Events for the field `open_end`
The solution is to set the label in `Checkbox`:

[code]

[2020-04-23 14:58] #952 closed

[2020-04-23 15:36] rodfersou opened #1416 "Real time collaborative editor"
About the idea to make Volto a real time editor (like google docs), after reading [this blog post](https://medium.com/@david.roegiers/building-a-real-time-collaborative-text-editor-for-the-web-draftjs-sharedb-1dd8e8826295) it is definitely possible if we follow the same recipe they describe, but it is advised to get some challenges when fine tune the code.

Basically, their solution is:

1) Use a

[2020-04-23 15:39] iFlameing commented on #1412
@tisto I have implemented this in current text filed but we don't want this for every field. We need to discuss it tomorrow. Here is the screenshot for that :)
![Screenshot from 2020-04-23 21-06-16](https://user-images.githubusercontent.com/33936987/80118899-a35bf700-85a6-11ea-9c64-e8b81ab873f2.png)

[2020-04-23 19:01] tisto commented on #1412
@iFlameing nice!

[2020-04-24 10:02] iFlameing commented on #1035
@steffenri @tisto I tested in my current local environment and it is working fine :)

[2020-04-24 15:15] pnicolli commented on #299
For reference: something has been done here already.
https://github.com/plone/volto/pull/863
The description block in not shown anymore by default.

[2020-04-24 15:22] tisto opened #1422 "Publishing Date and Expiration Date are pre-set with current date/time"
Volto master

1) as admin
2) go to portal root and create a new page
-> Publishing Date and Expiration Date are pre-defined in the right sidebar
-> should: Publishing Date and Expiration Date should not be set

![Add Document (1)](https://user-images.githubusercontent.com/632105/80228843-dd350800-864f-11ea-9dfd-d2fdc2ddaf17.png)

[2020-04-24 15:23] tisto commented on #1422
@nzambello this is new. any idea what could cause this?

[2020-04-26 14:51] #1414 closed

[2020-04-26 14:53] #1372 closed

[2020-04-27 07:50] sneridagh opened #1426 "Gallery component"
It would be nice to have a gallery component.

I put an eye on: https://www.npmjs.com/package/react-image-gallery

Can we search for some other options, then make a decission?

We will need to load it lazily, of course.

[2020-04-27 08:10] tisto commented on #1426
ToDo:

- [ ] Create a new view for the listing block
- [ ] Make that view selectable in the listing block
- [ ] Add react-image-gallery as a dependency to Volto
- [ ] Add view that uses react-image-gallery and relies on the listing block
- [ ] Create a Cypress test that creates a page that contains images, adds a listing block with a gallery-view view and displays images

[2020-04-27 09:21] nzambello commented on #1422
The default value for the widget, if a date is not set from Plone, is the current date.
Now it's marked with the grey color to make that different from a set one.
This behavior is fine for event dates and when editing content publish/expire dates, but probably not enough for new content ones.

Instead of making it grey I could make it invisible, but I have to keep a date set for the date picker.

[2020-04-27 09:21] nzambello commented on #1422
What do you think @tisto @sneridagh ?

[2020-04-27 09:58] tisto opened #1428 "Implement srcset and sizes for images in Volto"
Todo:

- [x] Define new scale formats for Plone (we currently have 200/400/800/1200/1600)
- [x] Implement new scale formats in kitconcept.volto (preliminary until PLIP has been accepted) -> https://github.com/kitconcept/kitconcept.volto/blob/main/src/kitconcept/volto/profiles/default/registry.xml#L23
- [ ] Amend image block to use srcset/sizes
- [ ] Amend hero block to use srcset/sizes
- [x] PLIP

[2020-04-27 10:31] datakurre commented on #1428
https://ausi.github.io/respimagelint/

[2020-04-27 17:12] sneridagh opened #1430 "Slots in Volto"
We need to increase the "insertion points" in Volto by using something close to Plone Viewlets/Portlets/Macros. I would run from these names, and go for something more generic and not Plone-ish, to avoid confusion. I suggest to use "slots".

Macros-ish:
https://github.com/plone/volto/pull/1424

Viewlet-ish:
https://github.com/eea/volto-addons/tree/master/src/Viewlets

Portlet-ish?

We need to find

[2020-04-27 17:16] sneridagh commented on #1408
Related:

#1401
#1400

[2020-04-27 17:16] sneridagh commented on #1430
https://github.com/plone/volto/issues/1397

[2020-04-27 17:18] sneridagh opened #1431 "Scale improvements tracker"
A lot was going on during the online PLOG sprint, a lot of PRs/PoC pending and a PLIP. I want to keep track of it in this issue.

[2020-04-27 17:24] sneridagh commented on #1431
PLIP:
https://github.com/plone/Products.CMFPlone/issues/3090

plone.namedfile:
https://github.com/plone/plone.namedfile/pull/92

plone.formwidget.namedfile:
https://github.com/plone/plone.formwidget.namedfile/pull/43

Image formats:
https://github.com/plone/volto/issues/1394

srcsets:
https://github.com/plone/volto/issues/1395
https://github.com/plone/volto/issues/1163

Improve APIRequestWithAuth:

[2020-04-27 17:32] sneridagh opened #1432 "IBlockConverter story"
Added `IBlockConverter` concept, use named adapters to convert deserialized value
of blocks, this enables an extensible mechanism to transform block values on
add/edit content operations.

Concept and HTML converter (ready to merge):
https://github.com/plone/plone.restapi/pull/915

@tiberiuichim I can't find the one that makes the resolveuid work with this. Didn't you create one? The one that shou

[2020-04-27 17:41] sneridagh opened #1433 "Volto addons story"
@tiberiuichim proposal:
https://gist.github.com/tiberiuichim/eb20c6c18210c384e57028f94d9f4b18

EEA apply Volto addons config:
https://github.com/plone/volto/issues/1396

@tiberiuichim "Local config" concept:
https://github.com/eea/forests-frontend/blob/master/src/localconfig.js

@nzambello CLI PoC
https://github.com/nzambello/voltocli

We can put on the table how we do addons in kitconcept too, us

[2020-04-27 18:09] datakurre commented on #1163
@cekk  @sneridagh So, my opinion on that was that let's not add miniature field, but use picture tag with sources with sizes. Once those are defined, browser should pick whatever size is the best for the defined area.

If you later want to give editor more options on image size, give something that makes more sense for editor than miniature option with Plone image scales vocabulary. Then it is up

[2020-04-28 06:52] AlexBueckig opened #1434 "Language isn't set properly on html Element"
I'm not sure if this is a thing that only happens with i18n enabled but the html element gets the language `[object Object]`.

The issue is related to assigning `this.props.content.language`to the lang tag [here](https://github.com/plone/volto/blob/da5c34aa9d9d56c5c15124dbcae3a15dd009891d/src/components/theme/View/View.jsx#L223) . According to redux `this.props.content.language` is an object with

[2020-04-28 08:31] tiberiuichim commented on #1433
There's one underlying difference of approach between the method I've been working on (the one with applyConfig) and Nicola's, but I think they can be combined.

Nicola's has developed a really nice voltocli utility, which can generate a consistent package infrastructure. The packages I've built were simply ``npm init`` generated.

Now the real difference comes: my method allows addons to be "fire

[2020-04-28 09:00] tiberiuichim commented on #1430
I like "Slots".

I think portlets are a different story and, for their use case, they're unavoidable. They have database storage, can be configured TTW and they have inheritance. Whatever system would be created to replace them would just reimplement portlet storage and definitions.

Let's take a simple use case: the website editor wants to add a static text notification in a section of a website.

[2020-04-29 07:25] sneridagh commented on #1430
`aboveDocumentTitle` oh man, are we doing this again, isn't it? 😀 I like it.

@nzambello I implemented `<AppExtras />` component to support whatever you want to put before the body is closed (GAnalytics, Matomo, etc...) Shadowing that would allow integrators to put whatever in that component. But if we want to go further (so we want to allow the addons system to use that "slot" and append things t

[2020-04-29 07:28] sneridagh commented on #1434
Doh, true! I will fix it!

[2020-04-29 20:31] #1434 closed

[2020-04-30 07:13] sneridagh commented on #1433
@tiberiuichim I can't see @nzambello pull config approach from the cli (also, if you don't provide a valid git repo with permissions on it, the create recipe fails). I couldn't tell from the code. Maybe you can point me to them! @tiberiuichim also, having a full view of your approach will be great! I only have the two pointers you gave me terms of the "extender".

I'm realizing that the scheduled

[2020-04-30 07:34] sneridagh commented on #1433
So an add-on can provide:

- config
  * settings
  * blocks
  * views
- reducers
- routes
- draftJS buttons/styles/etc (that goes into the settings I guess)
- css
- Future slots?

The project should be able to catch all of them and apply them. Did I miss something?

@tiberiuichim How do you apply the routes/reducers?

Helpers:
- Merge utility (reduce function)
- Some other niceties, addBlocksGroup

[2020-04-30 08:19] nzambello opened #1440 "External links don't have target="_blank""
In config, in toHTML, the entity for LINK handles the `rel` attribute but I guess `target` is leaved as nullish so it's not rendered.

[2020-04-30 09:46] #1440 closed

[2020-04-30 14:27] nzambello commented on #1433
I guess @tiberiuichim was talking about this https://github.com/collective/volto-multilingual-widget#custom-widget

[2020-04-30 14:45] nzambello commented on #1301
I put this in an addon: https://github.com/collective/volto-google-analytics/
(work in progress)
Any help/contribution is appreciated

[2020-04-30 18:17] bloodbare commented on #1416
There was already a proof of concept of how to use Guillotina for real time volto edit @robgietema

I think that would be easy and interesting but first we should add more support on volto for plone as most e2e tests are disabled for Guillotina backend.

[2020-05-02 11:26] sneridagh commented on #1433
I'm fiddling with the released package feature, and now I've realised that we will have a problem if we want to maintain the `src` structure in the released packages. Setting up yet another "magical" Webpack alias for declared "addons" seems to me like too much.

We use the `src` in our addons too, and I can see that the EEA folks as well. I think I'm more biassed to use a release script that puts

[2020-05-03 05:25] tiberiuichim commented on #1433
@sneridagh : On EEA projects we've tweaked the ``razzle.config.js`` to include aliases to the ``src`` of folder of each addon. See https://github.com/eea/volto-base/blob/master/src/razzle.config.js#L187

The plan was that, if addons will be transpiled and released as npm packages, we'll write ``main`` entrypoint in package.json and take things from there.

To answer your earlier comment:

For addo

[2020-05-03 05:31] tiberiuichim commented on #1433
@sneridagh I think addons should also be able to provide razzle.config.js tweaks. It might be overkill, but for our projects it's easier to ship a really powerful addon and to maintain in a single place its tweaks, then it is to maintain, in the long term, on multiple projects, an always changing ``config.js`` file or razzle.config.js.

[2020-05-03 06:09] tiberiuichim commented on #1430
I've mentioned it because it's the only viewlet that I can name by heart, and even then I don't think I got the name right.

Let's take a simple use case: I have a behavior called IExtendedMetadata whatever. It has several tagging and metadata fields that are used for to group and semantically decorate content. I can enable this behavior on several content types, including some that are block-powe

[2020-05-03 07:05] sneridagh commented on #1430
@tiberiuichim I like the idea and the implementation! Implementations change over time, but good ideas/concepts don’t. So I’m +1 to bring the slots conceptualization in the same way of Plone Viewlets.

[2020-05-03 16:33] tiberiuichim opened #1443 "Untangle devDependencies from runtime dependencies"
I'd love to see faster docker builds and slimmer docker images. Cypress is one big obvious target, but there are many other. The main issue is that Volto dumps all of its dependencies in ``dependencies``, while ``devDependencies`` is empty.

[2020-05-05 06:29] cekk commented on #1432
@sneridagh i see that there is already a resolveuid converter/transformer.
My pr was about making the old serializer more generic and manage images and all blocks with url/href field too.
I don't remember what we decided about this feature: if it's ok to have a default converter like this, or not

[2020-05-05 06:44] cekk commented on #1163
Ok, @nzambello was supposed to reply to this thread some weeks ago ;)
My use-case was that on Plone, editors can choose which miniature include into text based on their needs in that particular content.
With Volto we can only choose alignment and use the original image. And the integrator can scale it in the theme. But editors can't choose its dimension.

Of course we could customize that widget/b

[2020-05-05 08:09] tisto opened #1446 "Improve Block drag & drop"
- [ ] Show a grey bar when the user can drop (after dragging)
- [ ] Make droppable area full width
- [ ] Evaluate moving to beautiful DnD

![Edit_Plone_Site (1)](https://user-images.githubusercontent.com/632105/81046288-54706480-8eb8-11ea-86cb-f65fe8936349.png)

[2020-05-06 06:59] #1412 closed

[2020-05-06 07:01] #1413 closed

[2020-05-06 07:01] #1035 closed

[2020-05-06 09:05] #1107 closed

[2020-05-06 11:35] iFlameing commented on #284
closed via https://github.com/plone/volto/pull/297

[2020-05-06 11:35] #284 closed

[2020-05-06 15:07] sneridagh commented on #1408
I've just merged
https://github.com/plone/volto/pull/1450

It assumes that the current language (for react-intl) is the language of the current object, matching Plone's behavior. Also I think it's a good sensible default.

We got wrong the `defaultLanguage` setting from `react-intl-redux` it should be fixed accordingly with the default language used through the translations, which in both Plone an

[2020-05-06 15:41] sneridagh commented on #1401
https://github.com/plone/volto/pull/1450 should fix this!

[2020-05-06 15:42] sneridagh commented on #1400
@giuliaghisini can you try again? with https://github.com/plone/volto/pull/1450 might change things.

Also, if you can reproduce it again, it would be great to have a video with so we can review it!

[2020-05-06 20:57] datakurre opened #1452 "Support for Node versions out of LTS (was: Node.js 13 support?)"
I'm curious about the scripts NodeJS version requirements. My current use case is to use Volto package from NPM as a dependency for GatsbyJS-project, just to be able to use Blocks' View components directly from Volto.

I understand that Node.js 13 cannot be officially supported by Volto yet, but it still feels somewhat wrong that I need to patch Volto just because of unsupported Node.js version.

[2020-05-07 06:18] tisto commented on #1452
I ran into that as well. This is especially annoying if you have an old Volto version and you are using the latest LTS. Maybe there is a way to express that we support all Node versions > 10 for instance. I guess the only thing that really matters is a minimal Node requirement. We can still tell people that officially we only support the last two Node LTS versions (10 and 12 right now).

[2020-05-07 06:52] giuliaghisini commented on #1400
@sneridagh i tried again but the problem is still present.
I created a video, how coluld i send it to you?.

[2020-05-07 07:43] tisto opened #1453 "Multilingual Test Fixture for Volto"

[2020-05-07 08:23] rodfersou commented on #1416
@bloodbare don't know if we are at the same page.. the idea is to have vanilla Plone as backend and a second backend (Guillotina or shareDB) just to manage the websockets communication

[2020-05-07 10:35] sneridagh commented on #1400
@giuliaghisini mmm slack?

[2020-05-07 11:28] avoinea commented on #290
@robgietema Huh? Obsolete or it should be renamed to Form Block?!

[2020-05-07 11:43] avoinea commented on #1404
@pbauer Some improvements on the way https://github.com/plone/volto/pull/1454

[2020-05-07 11:49] tisto commented on #290
@avelino this ticket is from 2018...different times :)

[2020-05-07 12:32] giuliaghisini commented on #1400
ok

[2020-05-08 06:07] tisto opened #1457 "Expose system information in Volto control panel"
Classic Plone exposes system information in the control panel overview:

![demo_kitconcept_com](https://user-images.githubusercontent.com/632105/81375886-ba502c80-9102-11ea-8703-e125375a1183.png)

The new Plone REST API system endpoint allows us to expose this information in Volto as well:

https://github.com/plone/plone.restapi/pull/735

[2020-05-08 06:26] tisto opened #1458 "Expose database information in Volto"
Zope exposes basic database information in the ZMI. It would be nice to have this in Volto as well:

![Zope (1)](https://user-images.githubusercontent.com/632105/81377325-888c9500-9105-11ea-802c-9ce854255fed.png)

There is a new database endpoint in REST API we can rely on:

https://github.com/plone/plone.restapi/pull/940

Not sure if this should go into a controlpanel (problem here is that we reg

[2020-05-08 07:50] tisto opened #1459 "Workflow Manager"

[2020-05-08 07:53] sneridagh commented on #1457
https://github.com/plone/volto/blob/e210ac522f90ee1fe2ca47a7238ecd43fd7baa1c/src/components/manage/Controlpanels/VersionOverview.jsx#L12

[2020-05-08 08:43] sneridagh commented on #1433
I created https://github.com/collective/volto-example-project-addons
as documentation on how to implement the basic boilerplate for addons in a Volto project. We can continue from here. In the future, @nzambello CLI could set all this up for you.

[2020-05-08 08:52] tisto opened #1460 "Multilingual: Allow user to connect two translations manually"
Right now it is only possible to add a new translation from the scratch. For existing websites it would be nice if the user could as well connect two translations TTW.

[2020-05-08 08:56] sneridagh commented on #1433
That is no longer needed because:
https://github.com/plone/volto/pull/1438
https://github.com/plone/volto/pull/1442

[2020-05-08 09:55] ksuess commented on #940
Fixed by https://github.com/plone/volto/pull/1324

[2020-05-08 09:57] ksuess opened #1461 "Remember selected folder contents sort on and order"

[2020-05-08 09:59] ksuess opened #1462 "Remember folder contents additional columns to show"

[2020-05-08 10:18] ksuess commented on #1462
TODO

- [ ] make table scrollable. Current state: table with more than the default columns is overlapping the container and overlapping content is not accessible.

[2020-05-08 13:37] tiberiuichim opened #1466 "Unable to edit frontpage in Volto site without "Manage portal" permission"
Volto treats the Plone site as content, which it is not. It's not a dexterity type, it doesn't follow the content rules and behaviours. Having the "Modify portal content" available on site root would imply that the frontpage is also editable by that person, but that's not possible without the "Manage portal" permission.

[2020-05-08 13:59] tiberiuichim commented on #1466
Edit: it's not actually Volto that does this, Volto doesn't really assume a lot about the Plone site root, it's just the way most of the Volto websites are setup.

Any ideas on how to elegantly solve this issue? "Manage portal" in itself doesn't give access to ZMI, but it could be used for various other restricted views.

[2020-05-08 14:20] tiberiuichim commented on #1433
Things that might be interesting to be able to change in an addon:

- razzle.config.js extensions
- asyncConnect entry points
- getContent() can take a list of expands, so it doesn't hardcode them
- (advanced) redux middleware configurable
- routes
- reducers
- slots

[2020-05-09 04:16] tiberiuichim opened #1470 "Allow development of addons on top of Volto directly"
Strictly for the development of new addons, it would be nice to have Volto already prepared to receive the addons,

It would require at least having an empty ``mrs.developer.json`` and ``jsconfig.js``. Would it also make sense to move the declaration of addons to ``jsconfig.json``? At EEA we've placed our [addon declaration there](https://github.com/eea/forests-frontend/blob/master/jsconfig.json),

[2020-05-09 05:19] #1470 closed

[2020-05-09 07:12] tiberiuichim commented on #1433
To facilitate development of addons, I've had to tweak the jsx compilation rule. This is my ``razzle.config.js`` in a clean Volto project where I've added a single addon.

[code]

[2020-05-11 06:54] tiberiuichim commented on #1466
I've been thinking about this and I have a proposal for a new feature.

First, I think the "layout" property that comes from Plone is underused in Volto. It's only used as a marker to be able to select the proper view component, but it would be nice to have it somehow influence the serialization process.

To that end, I propose that, in the ContentGet service, the content linked in context with th

[2020-05-11 07:53] sneridagh commented on #1433
Why did you have to do that? I think that with the fix I pushed to the new branch all is good now with the deps hoisting problem.

[2020-05-11 10:13] tisto opened #1472 "Do not show placeholder with current date/time on publishing/expiration date fields"
I get at least one client call a week on this. The user thinks the publishing/expiration date is pre-defined:

![Add_Document](https://user-images.githubusercontent.com/632105/81550449-897d2b00-9380-11ea-8cbf-da28575a5cef.png)

We should get rid of the placeholder altogether IMHO.

Steps to reproduce:

1) as admin
2) go to https://volto.kitconcept.com
3) create document (https://volto.kitconcept.c

[2020-05-11 10:24] tisto commented on #1472
@nzambello did you run into this as well? Does the placeholder come from the date-picker lib we are using?

[2020-05-11 10:27] tisto commented on #1472
@nzambello sorry for the noise. It seems I already created an issue for this: https://github.com/plone/volto/issues/1422

[2020-05-11 10:27] #1472 closed

[2020-05-11 10:28] tisto commented on #1422
@nzambello making it invisible is fine with me. This is a pure UX issue, not a functional bug.

[2020-05-11 10:28] sneridagh commented on #1422
I would just "disable" it via CSS, so it remains not visible until the user clicks and makes the widget show. Is that easy to do?

[2020-05-11 16:07] #1426 closed

[2020-05-12 07:11] #1285 closed

[2020-05-12 07:12] #1249 closed

[2020-05-12 07:25] sneridagh commented on #1400
Fixed in #1468! Thanks @giuliaghisini for the support to find this nasty bug!

[2020-05-12 07:25] #1400 closed

[2020-05-12 07:29] #1401 closed

[2020-05-12 07:32] sneridagh commented on #1349
Yes, we should deprecate the use of semantic UI icon font in favor of the SVG one. The control panel overview are still using them. I will change the name of the issue, if you are fine with that. Any use case where we want to use the font? I think we should move all icons to SVGs.

[2020-05-12 07:59] #1457 closed

[2020-05-13 06:03] tiberiuichim commented on #1433
I'm using Volto master, not the branch, but I don't see how the new branch would help.

My addon hasn't been specified as a dependency to the project, yet. I run "yarn install" in each addon folder. If I'd specify the addon as a disk dependency, then npm (I haven't tried with yarn) creates a copy of the addon in node_modules. Using npm link would defeat the purpose of the addon concept and I think

[2020-05-13 06:09] sneridagh commented on #1433
Try with workspaces, really, works like a charm now. Did you take a look to
my demo repo?

https://github.com/collective/volto-example-project-addons

Take a look and let me know what you think. Any other solution is far more
convoluted/complicated.

Also the step dev-released is almost seamless.

Cheers,
V.

On Wed, 13 May 2020 at 08:03, Tiberiu Ichim <notifications@github.com>
wrote:

--
Víctor

[2020-05-13 11:52] iFlameing commented on #1097
Fixed by #1456

[2020-05-13 11:52] #1097 closed

[2020-05-13 12:40] jackahl opened #1475 "Transmitting a new comment leads to error"
Discovered in Volto Version 5.9.0

Steps to reproduce:

1. start a clean Volto and Plone instance
2. login as admin
3. globally enable comments at /api/Plone/@@discussion-controlpanel
4. enable comments on a page
5. add a comment and transmit it
--> site crashes to traceback:

[code]

[2020-05-14 05:11] tiberiuichim opened #1478 "Proposal: have a list of "smart fields" in Volto blocks"
I'm proposing that we formalize a list of fields that can be stored in Volto blocks and they'd be automatically transformed server-side, or have other positive benefits.

For example: block values could have a field called "searchableText". Filling in the value of this field would be done in the Block code, client-side. Then, on the server side, a block text indexer doesn't have to be created for

[2020-05-14 05:24] tiberiuichim opened #1479 "Volto should use z3c.form inline validation for metadata fields form"
Classic Plone has server-powered client-side inline validation of fields when editing content (not blocks). A restapi endpoint could be created to reuse the @@z3cform_validate_field view and then allow for client-side validation of these forms.

[2020-05-14 05:29] tiberiuichim commented on #1466
PR in plone.restapi: https://github.com/plone/plone.restapi/pull/944

[2020-05-14 07:46] jackahl opened #1482 "Add cypress test for comments"
In Volto 5.9.0 comments are broken without it being noticed right away. So it would be great to have a cypress test for them.
I already created a setregistry function which is usable to globally enable comments in the test setup: https://github.com/plone/volto/pull/1481

[2020-05-14 08:12] tisto opened #1483 "Cypress createContent keyword should accept a JSON object as single paramenter"

[2020-05-14 08:13] tisto commented on #1482
We need to:

- [ ] Enable comments globally
- [ ] Enable comments on createContent(..., allowDiscussion=True) (this should set allowDiscussion = True on the REST API)

[2020-05-14 13:57] tiberiuichim opened #1485 "Image block accepts (and gives error) on a non-image dropped in its dropfield"
I can drag a link in the image block drop area and the spinner will keep spinning, no feedback provided about an error (which can be seen in the console).

[2020-05-14 14:21] tiberiuichim commented on #1430
There's also old https://github.com/plone/volto/issues/16 which suggests looking at react-fill-slots. I've looked at it, it's an old library by now and I think outdated by today's standards. I also don't think there's a need for it if we use the system described above.

[2020-05-14 15:47] avoinea commented on #597
@sneridagh It looks like forcing focus has side effects. See https://github.com/draft-js-plugins/draft-js-plugins/issues/800 and a workaround https://github.com/plone/volto/commit/fbde505137552bbe456629d0cc886a09bf7cb611#diff-6da14e6f57d40f6ab56474dbab0ef64dR142

[2020-05-14 18:13] sneridagh commented on #597
Woot! Did you try it out? If we solve this one would be one of the unresolved biggies!

/cc @tisto

[2020-05-14 18:53] avoinea commented on #597
@sneridagh Yes, it works! :tada:

[2020-05-15 06:43] tiberiuichim opened #1488 "Usability enhancement for the default block chooser"
It would be nice if the block chooser would include a search input that would be automatically focused. It would be nice if there's a shortcut from the text editor to insert a new block and open the block chooser automatically. This would streamline that editing experience.

[2020-05-15 06:59] sneridagh commented on #597
@avoinea crap! I backported it to master to take a look, but it's not working for me :( any other change you made in your branch that could be triggering that it works?

[2020-05-15 07:18] sneridagh commented on #597
@avoinea doh! I put it in the wrong lifecycle method! I set it in all lifecycle where it was defined, just in case.

Do you mind if I merge the change in another PR? All props to you, of course!

[2020-05-15 14:37] #1483 closed

[2020-05-16 05:14] tiberiuichim commented on #1478
Another example of a potential smart field: a block that has a field "relatedItems" gets those items serialized in the block (as summary or fullcontent?) from the server side.

[2020-05-16 12:05] sneridagh commented on #597
Links issue fixed by: https://github.com/plone/volto/pull/1489

[2020-05-16 12:34] #1482 closed

[2020-05-18 03:51] tiberiuichim commented on #1488
[Spotlight style](https://help.apple.com/assets/5E1917EE680CE2662245B09C/5E1917F1680CE2662245B0A3/ro_RO/b25a69008ac597e961011cef6758aec7.png)

[2020-05-18 08:42] cekk commented on #1478
i'm +1 for the url/link ones (@tiberiuichim i knew that you would change your mind) and for relatedItems.

For searchableText we could use the Plone approach: index **title**, **description** and **text** block fields by default.

[2020-05-18 12:59] #1446 closed

[2020-05-19 11:53] sneridagh opened #1499 "The translations link appears for all content types despite might be it's not ITranslatable"

[2020-05-20 06:58] sneridagh commented on #1286
Implemented in latest 5.x.x releases

[2020-05-20 06:58] #1286 closed

[2020-05-20 07:07] giuliaghisini opened #1500 "Take the widgets out of the wrappers"
to use them in Volto sites, for example in edit blocks.

Now widgets are wrapped into Grid.Row/Grid.Columns with label before.
If you would like to use them in edit block, you don't always need the label or the structure Grid.Row/Grid.Column, but simply the widget for the field

[2020-05-20 07:59] #940 closed

[2020-05-20 08:11] tisto opened #1501 "Not possible to remove an expiration date"
1) as admin
2) create a page and set an expiration date
3) edit that page and try to delete the expiration date
-> there is no obvious way to delete a date once set (this is a UX problem)
-> if the user selects the date and hits the delete key the date/time is greyed out but after save the old expiration date is still set (this is a bug)

@nzambello did you run into this problem already? Does the

[2020-05-20 09:56] sneridagh commented on #1166
Support for this has been added, ZCatalog version should be pinned to 5.1 or above.

[2020-05-20 09:56] #1166 closed

[2020-05-20 11:34] tiberiuichim commented on #1500
I'd love to see the widget framework reworked a bit... something like a wrapper function that would set the input into the proper place. This would make it easier also to write new widgets

[2020-05-20 13:30] ksuess commented on #1278
Just for the records

https://community.plone.org/t/about-the-volto-category/10515 category Volto is updated to a short description.

The training _Mastering Plone 6_ is on a good way. It's beside the upcoming voltocms.com Website, the precious Volto documentation https://docs.voltocms.com/design-principles/ and inspiring talks https://github.com/plone/volto/#talks  one more step for developers to

[2020-05-20 14:57] sneridagh commented on #1500
+1

[2020-05-20 15:12] tisto opened #1503 "A11Y: Improve image ALT tag handling (we4authors cluster)"
# Status Quo

## Current behavior when adding an image via the Volto editor:

1) Add new page
2) Add image block to the page
3) ALT tag is filled out automatically with the generated ID of the image

### Screenshot

![Edit_Page](https://user-images.githubusercontent.com/632105/82462276-aa99f600-9abb-11ea-8bf6-9aa1d54c6338.png)

## Current behavior when adding an image manually (to a page or stand-

[2020-05-21 01:35] tisto opened #1504 "A11Y: Table block accessiblity"
https://www.w3.org/WAI/tutorials/tables/

# ToDo

* [x] Write a Cypress test that creates a simple table block and checks if the result is accessible (https://github.com/plone/volto/blob/master/cypress/tests/core/a11y.js)
* [x] Fix issues that came up. One by one, referencing this ticket.
* [x] Question: do we end up with an accessible table when the editor marks a table cell (in the middle of the

[2020-05-21 02:19] tisto opened #1505 "A11Y: Form Accessibility"
Make Volto forms accessible. Placeholder issue.

[2020-05-21 02:56] tisto opened #1506 "A11Y: Check uploaded PDFs for accessibility"
This is rather a backend issue. Though Volto would have to show possible warnings.

Resources:

https://in.pycon.org/2010/talks/8-pdf-accessibility-with-python/
https://alistapart.com/article/pdf_accessibility/
https://gitlab.tingtun.no/eiii_source/pdfwam/-/tree/master

[2020-05-21 02:57] tisto opened #1507 "A11Y: Accessible Video/Audio files"
https://www.w3.org/2008/06/video-notes

[2020-05-21 02:58] tisto opened #1508 "A11Y: Accessibility documentation for developers"
Docs section for developers.

[2020-05-21 07:16] sneridagh opened #1509 "Bug in Richtext render in DefaultView.jsx"
https://github.com/plone/volto/blob/master/src/components/theme/View/DefaultView.jsx#L85-L88

Buggy when a mailto: can be used, then it got replaced too.

Since we are already treating it in:
https://github.com/plone/volto/blob/master/src/config/RichTextEditor/ToHTML.jsx#L173-L197

I think we can assume we can remove it.

[2020-05-21 14:22] tiberiuichim opened #1512 "ObjectWidget implementation"
Can be used in a schema like:
[code]

[code]

[2020-05-21 14:25] tiberiuichim commented on #1512
And a silly ObjectListWidget implementation:

[code]

[2020-05-21 17:14] tiberiuichim opened #1513 "New type of "interactions" needed in Volto's "visual language""
Volto right now has a mix of sidebar-based interactions (see for example block options for Image block, the ObjectBrowser popup) and modal windows: the dialogs in the folder contents (Rename action, for example).

There are some more inline interactions, for example the current "Link" plugin in draftjs, which raises a small inline popup to allow searching for an internal object or to enter a URL.

[2020-05-22 07:14] #1461 closed

[2020-05-22 07:19] sneridagh opened #1514 "Image block saves the full server URL"
It would be great while doing that, make it backwards compatible, so we don't break the current blocks out there. And, even if we do not break it, provide a Plone script that fixes them in all the site.

[2020-05-22 10:44] tisto commented on #1163
![Add_Document (1)](https://user-images.githubusercontent.com/632105/82649808-0da19f00-9c1a-11ea-8248-4c0b7b51cf8d.png)

[2020-05-22 13:16] avoinea opened #1516 "Metadata block or easy way to insert document metadata inside text block"
Have the possibility to add a new block type and/or button in the Text block that takes the content from another field:

**Some use cases are:**

* Display **context/effective** (aka publishing date) anywhere in the content area as a block or within the text block
* Display the **context/subjects** (aka tags) inside the page as a block or within the text block

the above will cover many use cases

[2020-05-22 13:33] avoinea opened #1517 "Finish Dexterity Content-Types Control Panel"
* DX Content-Type schema/metadata editor.
  * Plone feature found at http://localhost:8080/Plone/dexterity-types/Document/@@fields

* Blocks Layout editor
  * Initial blocks
  * Required blocks
  * Placeholders / Helper texts
  * Fixed blocks, can't be moved (e.g.: LeadImage, Title, Description)

Branches:
* https://github.com/plone/volto/tree/eea-dx-cpanel-metadata
* https://github.com/plone/volt

[2020-05-23 15:57] tiberiuichim opened #1518 "Default block type is hardcoded in Volto"
See Form.jsx, onAddBlock. Ideally this should be configurable.

[2020-05-24 09:22] tiberiuichim opened #1519 "on* methods that mutate state in Form.jsx should accept a callback parameter"
To avoid any weird racing issues, the methods in Form.jsx that mutate the state with setState should take an optional callback, to be added as a callback to the setState call.

[code]

[2020-05-24 11:57] tiberiuichim commented on #1519
The specific use case where I've seen this as a problem looks like this:

[code]

So there's a racing condition, the onDeleteBlock will overwrite the form state's formData, negating the change in the onChangeBlock. To workaround it, I can do:

[code]
which seems to fix it. But ideally I'd do the ``onDeleteBlock`` call on the ``onChangeBlock``'s setState callback.

[2020-05-25 11:44] avoinea commented on #1256
Will close this ticket for now and continue work on https://github.com/plone/volto/issues/1517

[2020-05-25 11:44] #1256 closed

[2020-05-26 10:38] avoinea opened #1521 "Volto internationalization (i18n) for Romanian"
Branch: https://github.com/plone/volto/tree/eea-ro-translation

[2020-05-26 10:39] tiberiuichim opened #1522 "Content locking integration is neded"
Plone has a nice locking behaviour for content, benefit of plone.locking.

Volto has no integration with plone.locking. Content is not locked when it's being edited, blocks don't lock images if the link to them, etc. This is a major step back in what makes Plone an enterprise solution.

# Plone Classic Locking

1. login as user1 and edit a page (keep edit open, closing the browser seems to release

[2020-05-26 10:45] tiberiuichim opened #1523 "Usability problem with default Maps block"
It is impossible to select the map block for editing with the mouse, once an object is embedded there. You have to rely on keyboard navigation to be able to do it.

[2020-05-26 10:48] #1234 closed

[2020-05-26 12:06] macagua commented on #1521
@avoinea @alecghica Hi guys please check the Contributing translations for a unsupported language guide for VoltoCMS https://docs.voltocms.com/customizing/i18n/#contributing-translations-for-a-unsupported-language

[2020-05-26 12:30] ksuess opened #1524 "new block type for FAQ"
It's a recurrent request to have a helper for adding a faq section in Plone pages. So, I thought it would be nice to have some helper also in Volto. What about an additional block type _faq_ that provides the editor with a widget in sidebar where he can type question and answer and add additional question and answer sets.

What do you think, does it make sense to offer this in Volto or is it somet

[2020-05-26 14:00] tiberiuichim commented on #1524
I like the interface for the multiple entries list, I'll adopt it for the ObjectListWidget.

[2020-05-26 14:01] tiberiuichim opened #1525 "Folder contents should show the portal type as a tooltip"
I miss this small feature from Plone, showing the portal type as a tooltip for the entries in the folder listing.

[2020-05-26 17:53] tiberiuichim opened #1526 "Allow custom actions and extensions in the toolbar actions menu (the More component)"
More details soon.

[2020-05-27 04:58] tiberiuichim opened #1527 "Avoid separate fetching of navigation, breadcrumbs, actions and types"
There is the argument that 5 separate requests to the backend would result in a faster UI for the end users.

I'm not convinced and of course we have to setup some plone.restapi benchmark locus tests to be convinced, but traditionally threads have been a limited resource in Zope server and having multiple concurent requests running also increases the chance of DatabaseConflictError. There is an ov

[2020-05-27 05:17] tiberiuichim opened #1528 "Don't allow router location change until next content has arrived in the store"
There is a very subtle problem that is perceivable only if a page has it own specially dedicated view React component, with a design that makes it obvious and easily distinguished from other components. For example, in our case, a HomepageView that has a background.

Now for the problem. There is the following sequence of events:

- user clicks on router link
- router mounts the appropriate compon

[2020-05-27 06:11] tisto commented on #1524
Our use case for FAQ so far was full FAQ pages and we are using https://pypi.org/project/collective.faq/ together with a custom Volto view.

This blocks FAQ would be a nice addition for Volto. Though, I'd be careful with adding too many blocks to Volto core. Those blocks all need to be maintained over time, require upgrade steps if they change, need proper documentation and testing, etc.

My perso

[2020-05-27 06:49] tiberiuichim commented on #1528
Some of the stuff we've tried included a condition in the render() of component that avoids rendering any content (or render a placeholder) until the store content matches the router path.

[code]

[2020-05-27 07:16] tisto opened #1529 "Copied relative link is transformed to absolute link"
When you edit a page and copy a relative link the pasted version is an absolute link that opens in a new tab.

Steps to reproduce:

1) Add a new page with a relative link to say, the "news" section in Plone and save
2) On the page view or on the edit view select and copy the link
3) create a new page and paste the link you copied, hit save
-> the link will not work after pasting

[2020-05-27 07:18] tisto commented on #588
We should write a Cypress test in kitconcept.volto to fully test the password reset. This is an important feature and we have to make sure it works. We can copy over the test and the code to Plone 6 once it is ready.

[2020-05-27 07:23] tisto opened #1530 "Workflow states in Volto are not translated"
1) Go to volto.kitconcept.com
2) login as admin
3) create a page
-> workflow state (e.g. private) is not translated (everything else is translated)

Nice to have: Cypress tests that test if the translation works (requires a backend test fixture, so this might be complex)

[2020-05-27 07:56] ksuess commented on #1524
Yes, I see. Thought so, that a lot of blocks would be useful, but crowding the menu. So let's postpone it to an add-on.

BTW I like a simple block for FAQ without Instances for every single FAQ item.

[2020-05-27 08:42] fredvd commented on #588
The first issue and sort of solved last year was overriding the e-mail which is sent, we needed a volto.domain setting for this in the Plone backend.

I got stuck last year at the 2019 PloneConf sprint on:
* fixing multilingual/i18n in the frontend reset password pages.
* resetting a password based on providing your e-mail address or your user-id. Plone/restapi expects only user, the frontend form

[2020-05-27 10:46] sneridagh opened #1531 "[Addons] Extend configuration object from addons"
@tiberiuichim proposal:
https://gist.github.com/tiberiuichim/eb20c6c18210c384e57028f94d9f4b18

EEA apply Volto addons config:
#1396

[2020-05-27 10:46] sneridagh commented on #1531
meta issue: #1433

[2020-05-27 10:47] sneridagh opened #1532 "[Addons] Extend razzle.config.js from addons"
meta issue: #1433

[2020-05-27 10:48] sneridagh opened #1533 "[Addons] Extend routes from addons"
meta issue: #1433

[2020-05-27 10:49] sneridagh opened #1534 "[Addons] Extend asyncConnect from addons"
meta issue: #1433

[2020-05-27 10:50] sneridagh opened #1535 "[Addons] Extend/enhance the actions expansions"
meta issue: #1433

[2020-05-27 10:50] sneridagh opened #1536 "[Addons] Extend Redux reducers from addons"
meta issue: #1433

[2020-05-27 10:52] sneridagh opened #1537 "[Addons] Extend server (express) routes"
meta issue: #1433

[2020-05-27 10:52] sneridagh opened #1538 "[Addons] Extend SemanticUI themeing from addons"
meta issue: #1433

[2020-05-27 10:57] sneridagh opened #1539 "[Addons] Make the addons have their own way of testing/linting etc... (atomically)"
atomically = not relying on a project, by themselves

Lerna seems to be able to team with yarn workspaces

[2020-05-27 10:57] sneridagh commented on #1539
meta issue: #1433

[2020-05-27 11:00] sneridagh opened #1540 "[Addons] bootstrap an addon - CLI (@nzambello)"
meta issue: #1433

[2020-05-27 11:57] tiberiuichim commented on #1533
First implementation in https://github.com/plone/volto/pull/1541

[2020-05-27 13:00] pnicolli opened #1544 "Upgrade raven-js to @sentry/browser"
``raven-js`` is legacy software, sentry has a new browser integration available as ``@sentry/browser``.

I found the upgrade that gitlab did to its own service here https://gitlab.com/gitlab-org/gitlab/-/merge_requests/17715/diffs
It doesn't look like a very complex task.

Would it break existing configurations? This is something I don't know, I assume it could, if custom sites rely on importing `

[2020-05-27 13:14] pnicolli commented on #1544
Even better, guidelines provided on the sentry forums: https://forum.sentry.io/t/switching-to-sentry-javascript/4732

[2020-05-27 13:15] tiberiuichim commented on #1531
Based on discussions with @sneridagh

Each Volto project will expose a key like this in its package.json:

[code]

Then we will have a helper function that can be used in the config.js of each project:

[code]

We need to implement the ``loadAddons`` method. It should require('~/../package.json') and read the addons key.

Naming an addon simply, like "volto-addon-a" in the addons list will load as

[2020-05-27 13:35] tiberiuichim commented on #1531
Another discussion with Victor:

The rule is: addon packages can customize Volto, but they can't customize other addon packages
We (in the frontend package) can customize other addons.

First we allow addons to customize Volto, then we come in and override any such customization, then customize the addons themselves.

If any addon wants to customize Volto, it needs to write a ``voltoCustomizationP

[2020-05-27 13:36] tiberiuichim commented on #1532
``razzle.config.js`` in an addon is in the the addon ``src`` folder.

[2020-05-27 13:54] tiberiuichim commented on #1538
See https://github.com/eea/volto-slate/blob/2e79e0438faed4c7728dd38d79bc2a54d9c9136d/src/editor/less/globals.less and https://gist.github.com/tiberiuichim/eb20c6c18210c384e57028f94d9f4b18 for implementation and docs.

[2020-05-27 15:36] tiberiuichim commented on #1532
The razzle.config.js from an addon can export both razzle config wrappers but also razzle plugins.
``
module.exports = {
   modify: (config) => config,
   plugins: [list_of_razzle_plugins],
}
[code]

[2020-05-28 05:54] tisto commented on #1163
After giving this some thought I think we should add two new buttons to the alignment list with smaller images, so we have:

- Image left
- Image left with a small image
- Image right
- Image right with a small image
- Image center
- Image full width

[2020-05-28 06:32] cekk commented on #1163
can't agree more ;)

[2020-05-28 07:19] sneridagh commented on #1544
If the API is different should be a breaking, yes.

[2020-05-28 07:20] sneridagh commented on #1528
@tiberiuichim @robgietema we should talk about this today, if possible. Putting it on the sprint list as a reminder.

[2020-05-28 07:21] sneridagh commented on #1527
@tiberiuichim @robgietema @tisto we should discuss this one as well.

[2020-05-28 07:29] sneridagh commented on #1531
@robgietema we also briefly need to discuss this

[2020-05-28 07:39] sneridagh opened #1547 "Explore the ability to have inherited blocks (for slots use)"
See: https://github.com/plone/plone.restapi/issues/949

[2020-05-28 08:39] tiberiuichim commented on #1536
See PR https://github.com/plone/volto/pull/1542

[2020-05-28 08:45] tiberiuichim opened #1548 "Enhancements to the default bundle analyzer plugin integration"
In some environments the default bundle analyzer is not directly usable (for example if the razzle process runs in a docker container, etc).

My proposal is to change the bundle analyzer to something like this:

[code]

This saves the bundle stats, so it's possible to review them without going through a lengthy build process. Then you can run separately ``webpack-bundle-analyzer bundle/output/path

[2020-05-28 10:49] tiberiuichim commented on #1531
We don't want to specify customization paths in package.json in project and addons. There will be a convention that the customization path is always "customizations", inside the project and each of the addon.

If the project has a "volto" folder inside the customizations folder, we go for "new style", with addon customizations by name in the customization folder. If it doesn't have a volto folder

[2020-05-28 10:50] tiberiuichim commented on #1531
@iFlameing we have code here that might help you: https://github.com/eea/volto-base/blob/master/src/razzle.config.js

[2020-05-28 10:51] iFlameing commented on #1531
@tiberiuichim thank you :)

[2020-05-28 10:52] tiberiuichim opened #1550 "Integrate react suspense in the UI components"
We want to have the following behaviour:

- Breadcrumb component triggers the data fetch
- If the data hasn't arrived in less then 0.1s, show a placeholder

[2020-05-28 10:54] tiberiuichim commented on #1528
See https://github.com/plone/volto/issues/1550

[2020-05-28 10:55] giuliaghisini commented on #1500
Branch: https://github.com/plone/volto/tree/take_widgets_out_from_wrappers_%231500
Pull: https://github.com/plone/volto/pull/1551

[2020-05-28 14:39] robdayz commented on #1033
I don't know if this change modifies some other table appearance, but for me, folder_contents is well-displayed whit this. I will check some other table to get if it works well..
[code]

[2020-05-28 15:56] sneridagh commented on #1531
@iFlameing I think since @tiberiuichim and Co. has already worked out the solution and we have discussed it thoroughly we should leave the issue to them, unless you already have advance a lot on it.

[2020-05-28 15:58] iFlameing commented on #1531
@sneridagh ok!! I haven't done so much.

[2020-05-29 04:42] #1536 closed

[2020-05-29 04:47] tiberiuichim opened #1556 "Allow development of Volto as an addon"
At one point we've tested having Volto available as an missdev addon inside a Volto project. This would allow an easier development of new Volto features.

Consider this scenario: I'm working on a new project, I have my own Volto-derived Volto app, but I'm missing some features in Volto. Right now I have two choices: go to a standalone Volto install and somehow replicate my initial project setup (

[2020-05-29 05:16] terapyon opened #1557 "Multilingual function translation into for page"
Volto 5 and plone.restapi 6.5 supported Multilingual, and Folderlist content has a menu of translation into. But a page content type (Non-folderlist content) doesn't have the menu.

I think Non-folderlist content should have translate into menu.

[2020-05-29 07:58] nileshgulia1 opened #1558 "Error while deleting portrait in Personal Info"
Steps to reproduce:
1. Click on Profile in user settings.
2. Upload a portrait.
3. try to remove the portrait or existing portrait.

<img width="1173" alt="Screenshot 2020-05-29 at 1 26 30 PM" src="https://user-images.githubusercontent.com/22280901/83235761-03e6e100-a1b0-11ea-8ca7-9c1bc4c69266.png">

Though we can change the existing portrait.

[2020-05-29 09:23] sneridagh commented on #1501
duplicated of #1422

[2020-05-29 09:23] #1501 closed

[2020-05-29 09:48] iFlameing commented on #1530
@tisto I am unable to reproduce it. Can you attach screenshots?

![Screenshot from 2020-05-29 15-15-32](https://user-images.githubusercontent.com/33936987/83246277-81feb400-a1bf-11ea-9561-21b8134ffba1.png)

[2020-05-29 10:10] iFlameing commented on #1529
@tisto can you tell me how I can reproduce it?

[2020-05-29 10:32] fredvd opened #1559 "Dockerfile in repo root still uses Node 10.14"
Is the Dockerfile in the Volto repository root still in use for buiding images of the Volto frontend? I can't find references to building a container for it in the Makefile.

it is still based on Node 10 where Volto now prefers LTS 12.

[2020-05-29 11:13] sneridagh commented on #1422
<img width="483" alt="image" src="https://user-images.githubusercontent.com/486927/83253972-37287080-a1ae-11ea-80d1-76880a855381.png">

[2020-05-29 12:03] tisto commented on #1530
![](https://cdn.discordapp.com/attachments/714749305612664853/715887136716488734/Screenshot_2020-05-29_at_13.19.47.png)

[2020-05-29 12:47] tisto commented on #1422
@iFlameing could you rebase your Cypress tests PR with master and see if the test passes now?

[2020-05-29 14:52] tiberiuichim opened #1561 "Files and images as block attachments"
It's looking more obvious that blocks can be their own mini-applications: they're a contact form, an image gallery, a listing, a map, etc. They stand more and more on their own, just like a separate content type.

So just like a content type has individual file fields, I argue that the blocks should be able to "embed" their own files. I've been exploring this concept and have a WIP implementation

[2020-05-29 16:14] #1422 closed

[2020-06-01 09:32] iFlameing commented on #1179
I have researched a bit and found a link
https://github.com/facebook/draft-js/pull/1784

[2020-06-01 10:16] tisto commented on #1179
@iFlameing looks worth exploring further...

[2020-06-02 11:18] alecghica commented on #1521
PR merged.

[2020-06-02 11:18] #1521 closed

[2020-06-06 11:04] datakurre opened #1570 "Visible URL used as a link target is not transforme into API URL (nor UID)"
Something we have seen in production Volto:

1. User creates link in text block by selecting text and clicking linking action
2. Because of huge amount of similarly named pages, user is unable to choose the right page by searching it
3. As a workaround, user pastes visible URL from browser as a link target (e.g. "https://volto.kitconcept.com/a-new-page")
4. User saves the page. Link seems to somew

[2020-06-06 13:22] tisto commented on #1570
We saw this happening as well. We should convert those links into UUIDs internally.

[2020-06-06 13:58] datakurre commented on #1570
I’d guess that either Volto frontend or middleware should detect this and convert the visible URL into API url. As long as the API URL really exists on the backend, REST API (block transforms) ould convert it into UUID.

Timo Stollenwerk <notifications@github.com> kirjoitti 6.6.2020 kello 16.22:

[2020-06-09 10:50] ksuess commented on #1524
A new block type for FAQ could be part of an add-on.

[2020-06-09 10:50] #1524 closed

[2020-06-10 11:59] tiberiuichim opened #1573 "create-volto-app should accept parameters"
If create-volto-app would accept an "addons" parameter, then Volto addons would be able to self-bootstrap their test environments.

[2020-06-10 13:36] pnicolli opened #1575 "Error while going to /edit from /contents"
Steps to reproduce:

1. You are in the site root
2. Create a page named Test Page. It will have path /test-page
3. Go back to site root
4. Go to folder contents. You should be in /contents
5. Navigate to Test Page. You should be in /test-page/contents
6. Click the Edit button from the toolbar. You should be in /test-page/edit

Now you should see Test Page content in the edit form (both its blocks

[2020-06-10 18:21] tiberiuichim opened #1577 "Refactor block editing sidebars using InlineForm"
The proposal is to write schemas for all block sidebar form components and use the ``InlineForm`` component to enable their editing. It would require defining new widgets where they don't exist (for example the AlignWidget, ImageSize Widget, etc.

[2020-06-12 10:46] nzambello opened #1579 "Sidebar metadata in red"
https://github.com/plone/volto/blob/ecbea83df8394b1999e603418362c3195fd7bad4/theme/themes/pastanaga/extras/react-dates-overrides.less#L110

@sneridagh Is this a debug rule?

[2020-06-12 12:30] tisto opened #1580 "Code coverage (coveralls) is broken since Feb. 2019"
https://coveralls.io/github/plone/volto

[2020-06-12 12:38] tisto commented on #1579
@nzambello I'd guess so :)

[2020-06-14 09:11] tisto commented on #1561
@tiberiuichim I fully agree with your opinion here. Blocks are the core building blocks of Volto and we will have put some effort into getting this right. Somehow I have the feeling that we are re-inventing something new on top of the existing layers we have and we are solving the same problems over and over again. So I am +1 discussing this but it won't be an easy one.

[2020-06-14 10:04] #1458 closed

[2020-06-15 08:33] #1579 closed

[2020-06-15 08:55] pnicolli commented on #1544
@sneridagh Is a 7.alpha branch planned already? If this is breaking we need a target for the PR

[2020-06-15 10:16] tisto commented on #1544
@pnicolli you can create a PR for master. We are not afraid of raising version numbers. :)

If we have a breaking change we need an entry and a howto in our upgrade guide, that's all. Then we can do a 7.0.0 final release. We only do alpha releases if the change is so fundamental that we need an additional testing/evaluation period.

[2020-06-15 15:26] j-craig opened #1585 "New project fails to compile"
Created a new project today (version 6.2.0) using `npx @plone/create-volto-app` and when I tried `yarn build` it fails:
[code]

[2020-06-15 18:18] renbro299 opened #1586 "Failed to compile: Attempted import error: 'addonReducers' is not exported from '../../../../../src/config'."
For the commands, I used "npx @plone/create-volto-app volto" to create the volto instance. I also ran "yarn start".

A screenshot of the error screen is provided below:

<img width="1440" alt="Screen Shot 2020-06-15 at 11 32 40 AM" src="https://user-images.githubusercontent.com/45237427/84691914-f7ce8380-af12-11ea-922a-bae1b0f8c5c0.png">

[2020-06-15 22:27] tisto commented on #1586
I guess we need to adapt create-volto-app to this change:

https://github.com/plone/volto/pull/1542

@tiberiuichim are you familiar with how create-volto-app works? Could you imagine to have a look?

[2020-06-16 14:25] tiberiuichim commented on #1586
@tisto sorry, I'm late about this, we're migrating a website today, had a ton of work to do. I saw that @iFlameing solved the issue, bravo!

[2020-06-16 14:35] tisto commented on #1586
@tiberiuichim we thought so. Though, it is still broken it seems:

[code]

I have no clue how this git submodules magic with volto-starter-kit works. Maybe @nileshgulia1 can help with it...

[2020-06-16 15:08] renbro299 commented on #1586
@iFlameing How did you solve the issue? I am still getting the same errors as before.

<img width="1440" alt="Screen Shot 2020-06-16 at 11 06 06 AM" src="https://user-images.githubusercontent.com/45237427/84792028-6538ed80-afc1-11ea-80a4-c76c613975e1.png">

[2020-06-16 15:16] renbro299 commented on #1586
<img width="1440" alt="Screen Shot 2020-06-16 at 11 14 31 AM" src="https://user-images.githubusercontent.com/45237427/84793032-9c5bce80-afc2-11ea-8436-c3e15222ead5.png">

[2020-06-16 15:32] iFlameing commented on #1586
Somehow our new release not populating the volto-starter-kit. I am working on it. But if you want to develop locally. You have to do some steps.
1. clone the repo
2. install the dependency
3. run this command
4. ```git submodule init```
5. npm link
6. create-volto-app  volto and you will able to create volto app.

I am investigating why volto-starter-kit, not auto-populating.

[2020-06-16 15:53] iFlameing commented on #1586
@renbro299 please use this npm install git+https://github.com/plone/create-volto-app

[2020-06-16 16:03] renbro299 commented on #1586
Done. It worked. Thank you!

[2020-06-16 16:07] iFlameing commented on #1585
@j-craig You can use this command for installation
[code]

[2020-06-16 16:49] j-craig commented on #1585
Thanks, it appears today's changes in the plone/create-volto-app repo have fixed my problem.

[2020-06-16 16:49] #1585 closed

[2020-06-16 17:16] nzambello opened #1590 "In Changelog or release info, keep track of min restapi version"
@sneridagh I assigned you as you're the release guy if I'm not wrong.
I guess it could be nice to have the minimum restapi version needed for Volto scopes in new releases. I found myself in the situation Volto updated correctly but it was broken from the Plone side because of an outdated restapi version.

So, I'd suggest to keep track of this and write it where devs watch for release changes or in

[2020-06-16 19:25] tisto commented on #1586
@renbro299 can you please try again with the latest release:

https://www.npmjs.com/package/@plone/create-volto-app/v/6.2.1

[2020-06-16 19:43] iFlameing commented on #1586
@tisto It will not work. I tested it out somehow the submodule is not populated. we have to go with the git version. we should together look into it tomorrow ;(

[2020-06-16 19:44] iFlameing commented on #1586
we still getting the copy error because volto-starter-kit is not present in nodemodules/@plone/create-volto-app

[2020-06-17 09:42] nileshgulia1 commented on #1586
@tisto @tiberiuichim Just seen the messages. Having too work load these days, will get back to look on this in couple of days.

[2020-06-17 10:09] terapyon opened #1594 "Bug report: Edit page through Contents list"
I found a bug at the Edit page through the Content list.

Actions:

- View the top page `/`
- Click to Contents menu of left sidebar `/contents`
- Click to any folder in the contents list `/FOLDER_ID/contents`
- Select a dropdown menu of any item, then click the edit link,
- Move to item URL `/FOLDER_ID/ITEM_ID/edit`
- Showing to edit for top page. This is a bug point.

I think this bug is related

[2020-06-17 10:16] terapyon commented on #1594
I tried to modify the code. But I could not make the test. Please help me.
https://github.com/plone/volto/commit/7ff21d0aa8d815ae67da0a8d2a0f819277571b87

[2020-06-17 12:26] pnicolli commented on #1594
See also #1575

[2020-06-17 12:58] terapyon commented on #1594
@pnicolli I think the same as me. Thank you for your notification.

[2020-06-17 15:29] pnicolli opened #1597 "null is returned for RelationList fields if the reference is gone"
Mainly due to https://github.com/plone/plone.restapi/issues/965
This breaks the edit view of the item, because there's a ``item['@id']`` in the ObjectBrowserWidget.
I wonder if we should just change the restapi or make the ObjectBrowserWidget more tolerant. Or maybe both.

[2020-06-17 17:45] tiberiuichim commented on #1586
I have this error after creating a new volto project with:

[code]

[code]

[2020-06-17 17:49] tiberiuichim commented on #1586
I was able to avoid the above problem (which happened at ``yarn start``) by replacing the local yarn.lock with the copy from volto master:

[code]

[2020-06-17 17:51] tiberiuichim commented on #1586
And now I have this error in the browser console:

[code]

[2020-06-17 17:52] iFlameing commented on #1586
@tiberiuichim somehow submodule is not populating in new release. That's why it is giving error. The npm not installing the volto starter kit as submodule.

You can see the changes in 6.0.0 and current release.

I don't have much knowledge regarding git submodule that's why I am unable to fix that.

Can you take a look at create-volto-app repo why sumodule is not populating. You can use got versio

[2020-06-17 17:56] tiberiuichim commented on #1586
@iFlameing now I got it working. I've used the official method, installing create-volto-app globally instead of using npx.

[2020-06-17 17:56] iFlameing commented on #1586
@tiberiuichim did you use latest release 6.2.0

[2020-06-17 17:59] iFlameing commented on #1586
Well git version is working.

[2020-06-17 17:59] tiberiuichim commented on #1586
Released version doesn't work:
[code]

[2020-06-17 18:26] tiberiuichim opened #1599 "Refocus normal Volto project development towards addons"
In Plone we're used to having complete websites developed as Plone addons. The theme, customizations, content types, etc, are all centralized in one or more addons. This makes it easy to keep the whole software stack up to date, upgrading between Plone versions, etc, because the "website" is just an addon.

In Volto the "website" is a complete software stack. Look at the https://github.com/plone/v

[2020-06-17 18:35] tiberiuichim commented on #1556
For now I'm using https://github.com/whitecolor/yalc to work around issues. I've tried to use ``yarn link`` in a separate volto checkout, then `yarn link @plone/volto` inside my project, but it didn't work, I had some errors.

[2020-06-17 18:41] tiberiuichim commented on #1561
@tisto I still see a lot of value in regular Plone content types, to stay as they are now. They have workflow + security, indexing, publishing (their own URLs), etc. So from my perspective the Plone content types become containers for the block mini-applications. To have the Volto blocks exposed as Plone content items wouldn't make sense (IMHO).

To a certain degree, how blocks are stored in the b

[2020-06-17 18:46] tiberiuichim commented on #1398
Implemented and a component is available, InlineForm.

[2020-06-17 18:46] #1398 closed

[2020-06-18 09:06] pnicolli commented on #1594
I guess the best solution for testing this kind of interactions is cypress. You could try to add a cypress test that follows the actions you described.
Meanwhile, right now we are trying your fix locally.

[2020-06-18 09:07] pnicolli commented on #1575
#1594 is where the discussion about this is happening. I will close this as it's now a duplicate.

[2020-06-18 09:07] #1575 closed

[2020-06-18 09:52] cekk opened #1601 "Blockquote: error when text has some style"
**Short:** If a text inside a blockquote has some styles (bold, italic for example), the view breaks.
**Steps to reproduce:**
- Go to edit mode of a page in Volto
- Add some text in a text block
- Add some more text to that block in a new line using shift+enter keys
- Add some style to some words (for example bold)
- Mark all the text you have just written and select the blockquote option for it
-

[2020-06-18 12:25] cekk commented on #1601
@iFlameing any idea on how to fix it? i'm missing some logic on how draftjs data structure works

[2020-06-18 14:50] cekk commented on #1561
@tiberiuichim this discussion is also about the issue that you showed us during the sprint?
Right now, with folderish contents when we are in creation form and add an image block with a new uploaded image, that image is created in its container (because you haven't created it yet).
But when you edit it and add a new image block, the new image is created inside it.
This can be confusing for editors

[2020-06-18 14:52] tisto commented on #1163
Implemented and released.

[2020-06-18 14:52] #1163 closed

[2020-06-18 14:55] tisto opened #1602 "Image widget: show miniature of the uploaded image"
![Add_News_Item](https://user-images.githubusercontent.com/632105/85036450-74b46400-b184-11ea-8e10-bab0e492481a.png)

[2020-06-18 14:58] tiberiuichim commented on #1561
@cekk It would be another approach to solve that image creation issue.

But it's also about harmonization of concepts inside Volto: with blocks we're unshackling the content from the bounds imposed by the content types. If I can create any block in a content and it wouldn't appear anywhere else in the portal, why can't I add a file attachment to that content?

[2020-06-18 15:07] cekk commented on #1561
probably we should give both options.
Right now in plone you can:
- upload an image directly in the content-type (with the leadimage behavior field for example)
- reference one Image content in TinyMCE field

The first case could be still managed adding image fields to the content types when needed.

Blocks are used more or less to replace the rich text field (with blocks we are building the body

[2020-06-19 09:04] tiberiuichim opened #1603 "Use Cypress to determine code coverage"
Cypress tests can also report code coverage. See https://docs.cypress.io/guides/tooling/code-coverage.html#E2E-code-coverage

[2020-06-19 10:08] iFlameing commented on #1586
Fixed in the latest release @6.2.3. Now you can install the @plone/create-volto-app globally using npm as well as yarn

[code]

[2020-06-19 10:08] iFlameing commented on #1586
I am also closing this because it is fixed :)

[2020-06-19 10:08] #1586 closed

[2020-06-19 11:21] iFlameing commented on #1601
@cekk I found the problem. Working on fixing it.

[2020-06-22 08:04] terapyon opened #1612 "More information of Upgrade guide for 6.x"
We finished an upgrade from 4.6 to 6.2 for our custom volto app.
We found no documentation for the upgrade guide for details. It's two important files.

- config.js
- start-client.jsx

config.js needed to add 2 lines.
[code]

start-client.jsx needed modify `loadableReady` wraps.

Please add the upgrade guide, if my suggestion is true.

[2020-06-22 08:21] tisto commented on #1612
@terapyon we are a bit short on time right now. Could you imagine to create a Pull Request and add this to the upgrade guide?

[2020-06-22 13:43] tiberiuichim commented on #1612
@terapyon Indeed, these need to be added in config.js:

[code]

[2020-06-22 20:30] tiberiuichim opened #1616 "TOC component should use a flexible implementation to retrieve headlines"
I think it would be interesting to see a more flexible implementation of the TOC component. It should allow each block to decide if it has headlines, and which headlines it has.

I propose that the ``blocksConfig`` object for each type has a new key, "extractHeadlines" (or maybe extractTOC?), which can return a list of headlines (or a single headline?) that block contains.

Let's discuss this.

[2020-06-23 06:58] tisto opened #1617 "DateTime Widget: current time is off two hours"
1) as admin
2) go to https://volto.kitconcept.com
3) create a new document (https://volto.kitconcept.com/add?type=Document)
-> the current date placeholder in the effective/expiration date is two hours off (two hours less)

![Add_Document (7)](https://user-images.githubusercontent.com/632105/85370876-b4d26880-b52f-11ea-9084-4c7d532c10c6.png)

[2020-06-24 05:08] tiberiuichim opened #1621 "It is not possible to click-select "Unknown blocks""
If for some reason you have block ``@type`` coming from the backend that's unknown to the current Volto running, it is not possible to focus them with a mouse click, but you can navigate to them with up-down arrows from the other blocks.

[2020-06-24 05:14] tiberiuichim commented on #1573
See https://github.com/plone/create-volto-app/pull/26 for an implementation

[2020-06-24 05:14] #1573 closed

[2020-06-24 20:10] tiberiuichim opened #1622 "Why does "RootResolverPlugin" webpack plugin exists?"
It seems to be some sort of compatibility layer with some code that doesn't exist in current Volto. At least I couldn't see any issue when I've disabled that plugin.

[2020-06-24 20:11] #1622 closed

[2020-06-25 09:02] cekk opened #1623 "Image block: can set size for external images but it's not used in view"
In edit mode, i can select the size of an external image (S, M or L).
The image in the block (in edit mode) is resized based on the selection but when i save, i see the image with his original size.

Probably because in view mode there isn't the proper class set ("medium" for example).

[2020-06-25 12:27] tisto commented on #1612
@terapyon @jackahl and I investigated this and indeed https://github.com/plone/volto/pull/1542/files introduced a breaking change that I missed. We will update the Volto 6.x.x upgrade guide even though this breaking change was introduced in Volto 6.1.0. Re-releasing 6.1.0 as 7.0.0 is not feasible any longer since we already released 6.2.x and 6.3.x releases. Sorry for the inconvenience caused by t

[2020-06-26 01:49] terapyon commented on #1612
Okay, Please write the document. And, We have updated to Volto 6.2 for our custom volto app.

[2020-06-26 03:56] tiberiuichim opened #1625 "Codemod for code migrations as an integral part of Volto projects"
We've had issues with the Upgrade Guide not being up to date (missing info about addonReducers, addonRoutes export). In the future we'll probably add more global objects and possible create more project-required files.

I propose that we integrate something like react-codemod or rather its main library, https://github.com/facebook/jscodeshift. This would enable us to migrate Volto projects "on the

[2020-06-26 12:11] #1602 closed

[2020-06-27 06:11] tiberiuichim opened #1629 "Adjust Volto codebase to pass React strict mode checks"
This is probably more a "headsup", but it would be good to include, as an ongoing process, the migration of old Volto code to new React standards. See https://reactjs.org/docs/strict-mode.html and https://medium.com/nmc-techblog/wait-youre-not-using-react-strictmode-a9713927a33b

[2020-06-28 20:04] tiberiuichim opened #1630 "Addon configuration can't depend on settings exported from project configuration"
There's a tricky import resolution order problem which makes an addon's applyConfig function unable to see any values that are set in a project config.js.

We have the following import order:

- Something (it doesn't matter what) in Volto wants stuff exported in ``~/config.js``
- in '~/config.js', first thing we do is ``import * as voltoConfig from @plone/volto``
- In ``@plone/volto/config/index.j

[2020-06-30 06:56] tiberiuichim opened #1631 "Allow endpoint API calls to work on URLs, in addition to paths"
I'd like to use the ``api.js`` middleware to make JSON api calls to a third-party server (not backend, not apiPath).

At this moment, the api requests are done like:

[code]

and formatUrl is https://github.com/plone/volto/blob/master/src/helpers/Api/Api.js#L19 :

[code]

As you can see, it hardcodes apiPath as prefix to the path (URL in my case).

I'm proposing that we determine if the ``path`` a

[2020-07-01 14:21] #1631 closed

[2020-07-02 08:18] tisto opened #1642 "Image Block: image left/right size S is larger in view (compared to edit)"
1) as admin
2) go to http://localhost:3000
3) create a new page
4) add a new image block (align: left, size: m)
5) save page
6) go to page view
-> image block shows up as size L

**Edit Mode**:

![Add_Document (8)](https://user-images.githubusercontent.com/632105/86330573-243f0b00-bc48-11ea-997d-1c27f910887d.png)

**View Mode**:

![Page (1)](https://user-images.githubusercontent.com/632105/8633057